Repository Kwannnnn/Visual-Engineer: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend:build, backend:lint, backend:apidoc, backend:integration, frontend:cypress

backend:build:
  stage: build
  script:
  - cd backend
  - npm run build
  needs:
  - install
  cache:
  - key: $CI_COMMIT_REF_SLUG-backend
    paths:
    - $CI_PROJECT_DIR/backend/node_modules/
    policy: pull

backend:lint:
  stage: lint
  needs:
  - install
  script:
  - cd backend
  - npm run lint
  cache:
  - key: $CI_COMMIT_REF_SLUG-backend
    paths:
    - $CI_PROJECT_DIR/backend/node_modules/
    policy: pull

backend:apidoc:
  stage: build
  needs:
  - install
  script:
  - cd backend
  - npm run apidoc
  artifacts:
    paths:
    - backend/dist/docs/apidoc/
  cache:
  - key: $CI_COMMIT_REF_SLUG-backend
    paths:
    - $CI_PROJECT_DIR/backend/node_modules/
    policy: pull

backend:integration:
  stage: test
  image: docker/compose:1.29.2
  services:
  - docker:dind
  variables:
    DOCKER_HOST: tcp://docker:2375/
    DOCKER_DRIVER: overlay2
  script:
  - cd backend
  - docker-compose -f test.docker-compose.yml up --build --exit-code-from backend
  cache: []
  artifacts:
    when: always
    reports:
      junit:
  ...

frontend:cypress:
  image: cypress/browsers:node16.13.2-chrome97-ff96
  stage: test
  needs:
  - install
  cache:
  - key: $CI_COMMIT_REF_SLUG-frontend
    paths:
    - $CI_PROJECT_DIR/frontend/node_modules/
    policy: pull
  - key: $CI_COMMIT_REF_SLUG-backend
    paths:
    - $CI_PROJECT_DIR/backend/node_modules/
    policy: pull
  services:
  ...

feat(frontend): get boards from local storage
  frontend/src/pages/Home.tsx
Due: frontend:cypress

feat: add util function to calculate floating edge position
  frontend/src/util/FloatingEdgeCalculator.ts
Due: frontend:cypress

feat: add type def for floating edge props
  frontend/src/components/board/edge/FloatingEdge.type.ts
Due: frontend:cypress

feat: implement floating edge
  frontend/src/components/board/edge/FloatingEdge.tsx
Due: frontend:cypress

feat: have only one source and target handle on node
  frontend/src/components/board/ItemNode.tsx
Due: frontend:cypress

feat: use floating edge on connections
  frontend/src/components/board/Board.tsx
  frontend/src/util/transformConnectionToEdge.ts
Due: frontend:cypress

chore: make ESLint happy
  frontend/src/components/board/edge/FloatingEdge.tsx
Due: frontend:cypress

ci: remove 'needs' configuration from frontend:cypress
  .gitlab-ci.yml
Due: none

fix: retouch tabBar styling to prevent double clicking
  frontend/src/components/board/tabbar/Tab.tsx
  frontend/src/components/board/tabbar/TabBar.tsx
Due: frontend:cypress

chore: make onClick prop optional for a Button
  frontend/src/components/button/Button.tsx
Due: frontend:cypress

feat(frontend): handle tab changes and closing
  frontend/src/pages/Home.tsx
Due: frontend:cypress

feat(frontend): add an extra text in Projects page
  frontend/src/pages/Projects.tsx
Due: frontend:cypress

fix: prevent refetching the relationships if all boards are closed
  frontend/src/pages/Home.tsx
Due: frontend:cypress

feat(frontend): add Projects nav link to Navbar
  frontend/src/components/Navbar.tsx
Due: frontend:cypress

feat: added ID to item data model
  backend/src/database/factories/BlowerFactory.ts
  backend/src/database/factories/PipeFittingFactory.ts
  backend/src/database/factories/PipelineFactory.ts
  backend/src/database/factories/PumpFactory.ts
  backend/src/database/factories/TankFactory.ts
  backend/src/database/factories/VesselFactory.ts
  backend/src/database/models/Item.ts
Due: backend:build, backend:lint, backend:apidoc, backend:integration

feat: fixing item typings in the controllers
  backend/src/controllers/board/board.controller.ts
  backend/src/controllers/object/object.controller.ts
  backend/src/controllers/relationship/relationship.controller.ts
  backend/src/database/factories/BlowerFactory.ts
  backend/src/database/factories/PipeFittingFactory.ts
  backend/src/database/factories/PipelineFactory.ts
  backend/src/database/factories/PumpFactory.ts
  backend/src/database/factories/TankFactory.ts
  backend/src/database/factories/VesselFactory.ts
  backend/src/database/models/Item.ts
  backend/src/database/models/MechanicalEquipment.ts
  backend/src/database/models/PipeItem.ts
  backend/src/database/models/Pipeline.ts
  backend/src/database/models/Relationship.ts
  backend/src/database/models/RotatingEquipment.ts
  backend/src/database/seeders/ObjectSeeder.ts
  backend/src/middleware/relationships.middleware.ts
  backend/src/routes/objects/v1/objects.route.ts
  backend/src/routes/relationships/relationships.route.ts
  backend/src/routes/relationships/relationships.types.ts
Due: backend:build, backend:lint, backend:apidoc, backend:integration

fix: relationship patch and post work with id
  backend/src/controllers/relationship/relationship.controller.ts
  backend/src/database/models/Item.ts
  backend/src/middleware/relationships.middleware.ts
  backend/src/routes/objects/v1/objects.route.ts
  backend/src/routes/objects/v2/objects.route.ts
  backend/src/routes/relationships/relationships.route.ts
  backend/src/routes/relationships/relationships.types.ts
Due: backend:build, backend:lint, backend:apidoc, backend:integration

fix: delete item by item ID
  backend/src/controllers/board/board.controller.ts
Due: backend:build, backend:lint, backend:apidoc, backend:integration

fix: patch item tag
  backend/src/controllers/board/board.controller.ts
  backend/src/routes/boards/boards.route.ts
  backend/src/routes/boards/boards.types.ts
Due: backend:build, backend:lint, backend:apidoc, backend:integration

test: updated tests to work with item id
  backend/src/controllers/board/board.controller.ts
  backend/src/controllers/object/object.controller.ts
  backend/src/controllers/relationship/relationship.controller.ts
  backend/src/middleware/relationships.middleware.ts
  backend/src/routes/boards/boards.route.test.ts
  backend/src/routes/objects/v1/objects.route.test.ts
  backend/src/routes/objects/v2/objects.route.test.ts
  backend/src/routes/relationships/relationships.route.test.ts
Due: backend:build, backend:lint, backend:apidoc, backend:integration

fix: relationship controllers work with pipelineId
  backend/src/controllers/relationship/relationship.controller.ts
  backend/src/routes/relationships/relationships.route.ts
Due: backend:build, backend:lint, backend:apidoc, backend:integration

fix: get item by ID
  backend/src/controllers/board/board.controller.ts
  backend/src/controllers/object/object.controller.ts
  backend/src/routes/objects/v1/objects.route.ts
Due: backend:build, backend:lint, backend:apidoc, backend:integration

fix: close properties sidebar on tab change/close
  frontend/src/pages/Home.tsx
Due: frontend:cypress

feat: changed item id to uuid
  backend/src/controllers/board/board.controller.ts
  backend/src/controllers/object/object.controller.ts
  backend/src/controllers/relationship/relationship.controller.ts
  backend/src/database/models/Item.ts
  backend/src/database/models/Relationship.ts
  backend/src/database/seeders/ObjectSeeder.ts
  backend/src/routes/boards/boards.types.ts
  backend/src/routes/relationships/relationships.types.ts
Due: backend:build, backend:lint, backend:apidoc, backend:integration

feat: New project modal in App component
  frontend/src/App.tsx
  frontend/src/components/modal/Modal.tsx
Due: frontend:cypress

feat: props for Navbar
  frontend/src/components/Navbar.tsx
Due: frontend:cypress

feat: new props for Button
  frontend/src/components/button/Button.tsx
Due: frontend:cypress

feat: new ModalType "Link"
  frontend/src/components/modal/ModalType.enum.ts
Due: frontend:cypress

feat: small changes to Home and utility functions
  frontend/src/pages/Home.tsx
  frontend/src/util/api/utility-functions.ts
Due: frontend:cypress

fix(apidocs): apiParam types and example output
  backend/src/routes/boards/boards.route.ts
  backend/src/routes/objects/v1/objects.route.ts
  backend/src/routes/objects/v2/objects.route.ts
  backend/src/routes/relationships/relationships.route.ts
Due: backend:build, backend:lint, backend:apidoc, backend:integration

feat: utility calls using uuid
  backend/src/database/seeders/ObjectSeeder.ts
  frontend/src/typings/IObjectContext.ts
  frontend/src/util/api/utility-functions.ts
  frontend/src/util/transformConnectionToEdge.ts
Due: backend:build, backend:lint, backend:apidoc, backend:integration, frontend:cypress

refactor(backend): add errorHandler to the validator handler
  backend/src/middleware/validate.ts
Due: backend:build, backend:lint, backend:apidoc, backend:integration

feat(backend): add Relationship validators
  backend/src/middleware/relationships.validators.ts
Due: backend:build, backend:lint, backend:apidoc, backend:integration

refactor: add statusCode to error messages on POST relationship
  backend/src/routes/relationships/relationships.route.ts
Due: backend:build, backend:lint, backend:apidoc, backend:integration

fix: lint issue
  backend/src/controllers/relationship/relationship.controller.ts
Due: backend:build, backend:lint, backend:apidoc, backend:integration

fix: POST items, GET and PATCH relationships
  frontend/src/components/PropertiesSidebar.tsx
  frontend/src/components/board/Board.tsx
  frontend/src/pages/Home.tsx
  frontend/src/util/api/utility-functions.ts
  frontend/src/util/transformObjectToNode.ts
Due: frontend:cypress

style: improve ItemNode layout
  frontend/src/components/board/ItemNode.tsx
Due: frontend:cypress

fix(cypress): update tests
  frontend/cypress/integration/Board.spec.js
  frontend/cypress/support/test-utils.js
Due: frontend:cypress

fix: define edgeTypes statically
  frontend/src/components/board/Board.tsx
Due: frontend:cypress

Path conditions:
  backend:build: any of: backend/**/*
  backend:lint: any of: backend/**/*
  backend:apidoc: any of: backend/**/*
  backend:integration: any of: backend/**/*
  frontend:cypress: any of: frontend/**/*
