Repository Kwannnnn/Visual-Engineer: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend:build, backend:lint, backend:apidoc, backend:integration, frontend:build, frontend:cypress

.gitlab-ci.yml:

image: node

stages:
  - install
  - build
  - lint
  - test
  - image

cache:
  paths:
    - backend/node_modules/
    - frontend/node_modules/
  when: on_success

install:
  stage: install
  script:
    - cd backend
    - npm ci
    - cd ../frontend
    - npm ci

# Backend

backend:build:
  stage: build
  only:
    changes:
      - backend/**/*
  script:
    - cd backend
    - npm run build
  needs:
    - install

backend:lint:
  stage: lint
  only:
    changes:
      - backend/**/*
  needs:
    - install
  script:
    - cd backend
    - npm run lint

backend:apidoc:
  stage: build
  only:
    changes:
      - backend/**/*
  needs:
    - install
  script:
    - cd backend
    - npm run apidoc
  artifacts:
    paths:
      - backend/dist/docs/apidoc/

backend:integration:
  stage: test
  only:
    changes:
      - backend/**/*
  image: docker/compose:1.29.2
  services:
    - docker:dind
  variables:
    DOCKER_HOST: tcp://docker:2375/
    DOCKER_DRIVER: overlay2
  script:
    - cd backend
    - docker-compose -f test.docker-compose.yml up --build --exit-code-from backend
  cache: []
  artifacts:
    when: always
    reports:
      junit:
        - backend/dist/jest/junit.xml

backend:image:
  stage: image
  cache: []
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint: [""]
  script:
    - mkdir -p /kaniko/.docker
    - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" > /kaniko/.docker/config.json
    - /kaniko/executor --context $CI_PROJECT_DIR/backend/ --dockerfile $CI_PROJECT_DIR/backend/Dockerfile --destination $CI_REGISTRY_IMAGE/backend:${CI_COMMIT_BRANCH}
  only:
    - main
    - staging

# Frontend

frontend:build:
  stage: build
  only:
    changes:
      - frontend/**/*
  script:
    - cd frontend
    - npm run build
  needs:
    - install

frontend:cypress:
  image: cypress/browsers:node16.13.2-chrome97-ff96
  stage: test
  only:
    changes:
      - frontend/**/*
  needs:
    - install
  services:
    - postgres:14-alpine
  variables:
    POSTGRES_DB: $POSTGRES_DB
    POSTGRES_USER: $POSTGRES_USER
    POSTGRES_PASSWORD: $POSTGRES_PASSWORD
    POSTGRES_HOST_AUTH_METHOD: trust
    DATABASE_URL: postgres://$POSTGRES_USER:$POSTGRES_PASSWORD@postgres/$POSTGRES_DB
  script:
    - cd backend
    - npm run db:update
    - npm run db:seed
    - npm run build
    - npx concurrently "PORT=3000 npm run prod" "cd ../frontend && npx cypress install && npm run test:cypress"
sast:
  stage: test
  needs: []
include:
  - template: Security/SAST.gitlab-ci.yml

sonarqube-check:
  image:
    name: sonarsource/sonar-scanner-cli:latest
    entrypoint: [""]
  variables:
    SONAR_USER_HOME: "${CI_PROJECT_DIR}/.sonar" # Defines the location of the analysis task cache
    GIT_DEPTH: "0" # Tells git to fetch all the branches of the project, required by the analysis task
  cache:
    key: "${CI_JOB_NAME}"
    paths:
      - .sonar/cache
  script:
    - sonar-scanner
  allow_failure: true
  only:
    - staging

refactor: remove unused test directory in backend
  backend/src/test/.gitkeep
Due: backend:build, backend:lint, backend:apidoc, backend:integration

ci: separate script in different commands
  .gitlab-ci.yml
Due: none

fix: fetch currect api version in frontend for relationships
  frontend/src/util/api/utility-functions.ts
Due: frontend:build, frontend:cypress

style: make object connectors easier to click on
  frontend/src/components/board/Board.tsx
  frontend/src/util/transformConnectionToEdge.ts
Due: frontend:build, frontend:cypress

feat: add production docker-compose
  backend/prod.docker-compose.yml
Due: backend:build, backend:lint, backend:apidoc, backend:integration

chore: add env example production config
  backend/.env.example
Due: backend:build, backend:lint, backend:apidoc, backend:integration

fix: change updateBoardObject to expect Partial properties list
  frontend/src/util/api/utility-functions.ts
Due: frontend:build, frontend:cypress

feat: add edge support for properties sidebar
  frontend/src/components/PropertiesSidebar.tsx
Due: frontend:build, frontend:cypress

feat: store pipeline object props in edge
  frontend/src/util/transformConnectionToEdge.ts
Due: frontend:build, frontend:cypress

feat: display edge properties on sidebar once clicked
  frontend/src/components/board/Board.tsx
  frontend/src/pages/Home.tsx
Due: frontend:build, frontend:cypress

fix: no longer call api when closing properties sidebar
  frontend/src/pages/Home.tsx
Due: frontend:build, frontend:cypress

feat: hide properties sidebar on connection delete
  frontend/src/components/board/Board.tsx
  frontend/src/pages/Home.tsx
Due: frontend:build, frontend:cypress

feat: init db container and dockerized backend
  backend/.dockerignore
  backend/.gitignore
  backend/init.Dockerfile
  backend/init.sh
  backend/prod.docker-compose.yml
  frontend/Dockerfile
  frontend/Dockerfile.prod
  frontend/docker-compose.prod.yml
  frontend/docker-compose.yml
  frontend/package.json
Due: backend:build, backend:lint, backend:apidoc, backend:integration, frontend:build, frontend:cypress

ci: add frontend Azure deployment
  .gitlab-ci.yml
Due: none

ci(fix): only run Azure frontend deployment when there are changes
  .gitlab-ci.yml
Due: none

ci(style): update frontend environment URL [skip ci]
  .gitlab-ci.yml
Due: none

ci: add BACKEND_URL
  .gitlab-ci.yml
Due: none

fix: render properties sidebar for draft pipelines
  frontend/src/components/board/Board.tsx
Due: frontend:build, frontend:cypress

fix: properply collepse prop sidebar for nodes and edges
  frontend/src/pages/Home.tsx
Due: frontend:build, frontend:cypress

ci(fix): update environment variable
  .gitlab-ci.yml
Due: none

ci(chore): revert to 'only' configuration
  .gitlab-ci.yml
Due: none

ci: update configuration
  .gitlab-ci.yml
Due: none

feat: show prop sidebar on node connect
  frontend/src/components/board/Board.tsx
Due: frontend:build, frontend:cypress

chore: update Object and Relationship Seeder
  backend/src/database/seeders/ObjectSeeder.ts
  backend/src/database/seeders/RelationshipSeeder.ts
Due: backend:build, backend:lint, backend:apidoc, backend:integration

test: refactor tests to match the seeder
  backend/src/routes/boards/boards.route.test.ts
  backend/src/routes/objects/v1/objects.route.test.ts
  backend/src/routes/relationships/relationships.route.test.ts
Due: backend:build, backend:lint, backend:apidoc, backend:integration

feat(relationship): add middleware to PATCH endpoint
  backend/src/middleware/relationships.middleware.ts
  backend/src/routes/relationships/relationships.route.ts
Due: backend:build, backend:lint, backend:apidoc, backend:integration

refactor(relationship): remove unused functions
  backend/src/controllers/relationship/relationship.controller.ts
  backend/src/controllers/relationship/relationship.util.ts
Due: backend:build, backend:lint, backend:apidoc, backend:integration

ci: update cache paths
  .gitlab-ci.yml
Due: none

fix(relationship): change Relationship-Item relationship to ManyToOne
  backend/src/database/models/Relationship.ts
Due: backend:build, backend:lint, backend:apidoc, backend:integration

ci: update cache configuration
  .gitlab-ci.yml
Due: none

feat(frontend): create AlertMessage component
  frontend/src/components/AlertPane.tsx
  frontend/src/components/index.ts
Due: frontend:build, frontend:cypress

style: update Toolbox styling
  frontend/src/components/toolbox/Toolbox.tsx
Due: frontend:build, frontend:cypress

style: change TabBar styling
  frontend/src/components/board/tabbar/Tab.tsx
  frontend/src/components/board/tabbar/TabBar.tsx
Due: frontend:build, frontend:cypress

feat(frontend): add isDraft prop to ItemNode
  frontend/src/components/board/ItemNode.tsx
Due: frontend:build, frontend:cypress
