Repository Kwannnnn/Visual-Engineer: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend:build, backend:lint, backend:integration, frontend:build, frontend:cypress

backend:build:
  stage: build
  script:
  - cd backend
  - npm run build
  needs:
  - install

backend:lint:
  stage: lint
  needs:
  - install
  script:
  - cd backend
  - npm run lint

backend:integration:
  stage: test
  image: docker/compose:1.29.2
  services:
  - docker:dind
  variables:
    DOCKER_HOST: tcp://docker:2375/
    DOCKER_DRIVER: overlay2
  script:
  - cd backend
  - docker-compose -f test.docker-compose.yml up --build --exit-code-from backend
  needs: []
  artifacts:
    when: always
    reports:
      junit:
  ...

frontend:build:
  stage: build
  script:
  - cd frontend
  - npm run build
  needs:
  - install

frontend:cypress:
  image: cypress/browsers:node16.13.2-chrome97-ff96
  stage: test
  needs:
  - install
  script:
  - cd frontend
  - npx cypress install
  - npm run test:cypress

refactor: remove duplicated PropertiesList and PropertiesSidebar
  frontend/src/components/PropertiesList.tsx
  frontend/src/components/PropertiesSidebar.tsx
Due: frontend:build, frontend:cypress

refactor: rename toolbox folder, update the imports in the index file
  frontend/src/components/index.ts
Due: frontend:build, frontend:cypress

refactor(board): split useDrop in multiple other functions
  frontend/src/components/board/Board.tsx
Due: frontend:build, frontend:cypress

refactor: add the item folder and refactor all related imports
  frontend/src/components/Toolbox/ToolboxItem.tsx
  frontend/src/components/board/Board.tsx
  frontend/src/components/board/BoardItem.tsx
  frontend/src/components/board/DragLayer.tsx
  frontend/src/components/board/item/Item.tsx
  frontend/src/components/board/item/ItemTypes.tsx
  frontend/src/components/board/item/ItemsList.tsx
  frontend/src/components/index.ts
Due: frontend:build, frontend:cypress

chore: rename toolbox directory
  frontend/src/components/toolbox/Toolbox.tsx
  frontend/src/components/toolbox/ToolboxItem.tsx
  frontend/src/components/toolbox/ToolboxList.tsx
Due: frontend:build, frontend:cypress

fix: properties sidebar dummy data
  frontend/src/components/propertiesSidebar/PropertiesSidebar.tsx
Due: frontend:build, frontend:cypress

chore(frontend): install react-flow
  frontend/package-lock.json
  frontend/package.json
Due: frontend:build, frontend:cypress

feat: Add x and y coordinate stores to item class
  backend/src/database/models/Item.ts
Due: backend:build, backend:lint, backend:integration

feat: seed the database with object coordinates
  backend/src/database/factories/BlowerFactory.ts
  backend/src/database/factories/PipeFittingFactory.ts
  backend/src/database/factories/PipelineFactory.ts
  backend/src/database/factories/PumpFactory.ts
  backend/src/database/factories/TankFactory.ts
  backend/src/database/factories/VesselFactory.ts
  backend/src/database/models/MechanicalEquipment.ts
  backend/src/database/models/PipeItem.ts
  backend/src/database/models/Pipeline.ts
  backend/src/database/models/RotatingEquipment.ts
Due: backend:build, backend:lint, backend:integration

test(api): update existing tests to support x and y
  backend/src/routes/boards/boards.route.test.ts
Due: backend:build, backend:lint, backend:integration

docs(apidoc): add coordinate properties
  backend/src/routes/boards/boards.route.ts
  backend/src/routes/objects/objects.route.ts
Due: backend:build, backend:lint, backend:integration

fix(apidoc): add missing apidoc label [skip ci]
  backend/src/routes/boards/boards.route.ts
Due: backend:build, backend:lint, backend:integration

feat(backend): create Relationship model
  backend/src/database/models/Relationship.ts
Due: backend:build, backend:lint, backend:integration

chore(apidoc): bump version
  backend/apidoc.json
Due: backend:build, backend:lint, backend:integration

chore(backend): bump version
  backend/package.json
Due: backend:build, backend:lint, backend:integration

feat(apidoc): deprecate Object endpoints
  backend/src/routes/_apidoc.ts
Due: backend:build, backend:lint, backend:integration

chore(backend): add reflect-metadata
  backend/package-lock.json
  backend/package.json
Due: backend:build, backend:lint, backend:integration

feat(api): split out API versions, implement object properties endpoint
  backend/src/controllers/object/object.controller.ts
  backend/src/database/models/Item.ts
  backend/src/database/models/MechanicalEquipment.ts
  backend/src/database/models/PipeItem.ts
  backend/src/database/models/Pipeline.ts
  backend/src/database/models/RotatingEquipment.ts
  backend/src/index.ts
  backend/src/routes/index.ts
  backend/src/routes/objects/v1/objects.route.test.ts
  backend/src/routes/objects/v1/objects.route.ts
  backend/src/routes/objects/v2/objects.route.ts
  backend/src/routes/objects/v2/objects.types.ts
  backend/src/util/properties/ObjectProperty.ts
  backend/src/util/properties/Property.ts
  backend/src/util/properties/PropertyType.ts
  backend/src/util/properties/getProperties.ts
  backend/src/util/properties/getPropertyType.ts
  backend/src/util/properties/index.ts
Due: backend:build, backend:lint, backend:integration

test(backend): add object properties endpoint tests
  backend/src/controllers/object/object.controller.ts
  backend/src/routes/objects/v2/objects.route.test.ts
Due: backend:build, backend:lint, backend:integration

chore: fix typo [skip ci]
  backend/src/util/properties/ObjectProperty.ts
Due: backend:build, backend:lint, backend:integration

docs(apidoc): add apidoc definitions for the GET object properties endpoint
  backend/src/routes/objects/v2/objects.route.ts
Due: backend:build, backend:lint, backend:integration

feat: constants file for object types
  backend/src/controllers/object/constants.ts
Due: backend:build, backend:lint, backend:integration

docs: apidoc for object types route
  backend/src/routes/objects/objects.route.ts
Due: backend:build, backend:lint, backend:integration

feat: get types controller function
  backend/src/controllers/object/object.controller.ts
Due: backend:build, backend:lint, backend:integration

feat(frontend): utility function to fetch types
  frontend/src/api/utility-functions.ts
Due: frontend:build, frontend:cypress

feat(frontend): fetch types and render toolbox
  frontend/src/components/toolbox/Toolbox.tsx
Due: frontend:build, frontend:cypress

chore(frontend): keep Toolbox always expanded
  frontend/src/components/toolbox/ToolboxList.tsx
Due: frontend:build, frontend:cypress

feat(frontend): implement the drag and drop using react-flow
  frontend/src/components/board/ItemNode.tsx
  frontend/src/components/board/NewBoard.tsx
  frontend/src/components/toolbox/ToolboxItem.tsx
  frontend/src/pages/Home.tsx
Due: frontend:build, frontend:cypress

feat: relatioship controller and delete relationship
  backend/src/DI.ts
  backend/src/controllers/index.ts
  backend/src/controllers/relationship/relationship.controller.ts
  backend/src/database/models/index.ts
Due: backend:build, backend:lint, backend:integration

feat: relatioship router
  backend/src/index.ts
  backend/src/routes/index.ts
  backend/src/routes/relationships/relationships.route.ts
Due: backend:build, backend:lint, backend:integration

feat: call backend on homepage to fetch all objects
  frontend/src/api/utility-functions.ts
  frontend/src/pages/Home.tsx
Due: frontend:build, frontend:cypress

feat: limit coordinate size for seeding
  backend/src/database/factories/BlowerFactory.ts
  backend/src/database/factories/PipeFittingFactory.ts
  backend/src/database/factories/PipelineFactory.ts
  backend/src/database/factories/PumpFactory.ts
  backend/src/database/factories/TankFactory.ts
  backend/src/database/factories/VesselFactory.ts
Due: backend:build, backend:lint, backend:integration

feat: relationship getters
  backend/src/controllers/relationship/relationship.controller.ts
  backend/src/routes/relationships/relationships.route.ts
Due: backend:build, backend:lint, backend:integration

feat(board): refresh components when new ones are passed
  frontend/src/components/board/NewBoard.tsx
Due: frontend:build, frontend:cypress

feat: populate board with saved items from db
  frontend/src/pages/Home.tsx
Due: frontend:build, frontend:cypress

fix: items staying after relationship is deleted
  backend/src/controllers/relationship/relationship.controller.ts
Due: backend:build, backend:lint, backend:integration

chore: convert types obj to json
  backend/src/controllers/object/constants.ts
  backend/src/controllers/object/objectTypes.json
  backend/tsconfig.json
Due: backend:build, backend:lint, backend:integration

feat: reordered fetching & rendering of toolbox
  backend/src/controllers/object/object.controller.ts
  frontend/src/components/toolbox/Toolbox.tsx
  frontend/src/components/toolbox/ToolboxList.tsx
  frontend/src/pages/Home.tsx
Due: backend:build, backend:lint, backend:integration, frontend:build, frontend:cypress

feat: api test for getObjectTypes
  backend/src/routes/objects/objects.route.test.ts
  backend/src/routes/objects/objects.route.ts
Due: backend:build, backend:lint, backend:integration

feat: add dotted background to board
  frontend/src/components/board/NewBoard.tsx
Due: frontend:build, frontend:cypress

Path conditions:
  backend:build: any of: backend/**/*
  backend:lint: any of: backend/**/*
  backend:integration: any of: backend/**/*
  frontend:build: any of: frontend/**/*
  frontend:cypress: any of: frontend/**/*
