Repository Kwannnnn/Visual-Engineer: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend:build, backend:lint, backend:apidoc, backend:integration, frontend:cypress

backend:build:
  stage: build
  script:
  - cd backend
  - npm run build
  needs:
  - install
  cache:
  - key: $CI_COMMIT_REF_SLUG-backend
    paths:
    - $CI_PROJECT_DIR/backend/node_modules/
    policy: pull

backend:lint:
  stage: lint
  needs:
  - install
  script:
  - cd backend
  - npm run lint
  cache:
  - key: $CI_COMMIT_REF_SLUG-backend
    paths:
    - $CI_PROJECT_DIR/backend/node_modules/
    policy: pull

backend:apidoc:
  stage: build
  needs:
  - install
  script:
  - cd backend
  - npm run apidoc
  artifacts:
    paths:
    - backend/dist/docs/apidoc/
  cache:
  - key: $CI_COMMIT_REF_SLUG-backend
    paths:
    - $CI_PROJECT_DIR/backend/node_modules/
    policy: pull

backend:integration:
  stage: test
  image: docker/compose:1.29.2
  services:
  - docker:dind
  variables:
    DOCKER_HOST: tcp://docker:2375/
    DOCKER_DRIVER: overlay2
  script:
  - cd backend
  - docker-compose -f test.docker-compose.yml up --build --exit-code-from backend
  cache: []
  artifacts:
    when: always
    reports:
      junit:
  ...

frontend:cypress:
  image: cypress/browsers:node16.13.2-chrome97-ff96
  stage: test
  needs:
  - install
  cache:
  - key: $CI_COMMIT_REF_SLUG-frontend
    paths:
    - $CI_PROJECT_DIR/frontend/node_modules/
    policy: pull
  - key: $CI_COMMIT_REF_SLUG-backend
    paths:
    - $CI_PROJECT_DIR/backend/node_modules/
    policy: pull
  services:
  ...

chore: remove azure ACR image commend
  azure/prod.docker-compose.yml
Due: none

fix: poor scroll behavior of Home page
  frontend/src/pages/Home.tsx
Due: frontend:cypress

feat: add validators for POST object to Board
  backend/src/middleware/boards.validators.ts
Due: backend:build, backend:lint, backend:apidoc, backend:integration

refactor: remove post object error handling Board controller
  backend/src/controllers/board/board.controller.ts
Due: backend:build, backend:lint, backend:apidoc, backend:integration

feat: add express validator to POST object to Board endpoint
  backend/src/routes/boards/boards.route.ts
Due: backend:build, backend:lint, backend:apidoc, backend:integration

chore: remove commented out code
  frontend/src/components/board/Board.tsx
Due: frontend:cypress

fix: cleaner utilities functions (createItem, createBoard)
  frontend/src/util/api/utility-functions.ts
Due: frontend:cypress

fix: remove 'items' prop of board from localstorage
  frontend/src/App.tsx
Due: frontend:cypress

feat: add PatchById validators
  backend/src/middleware/boards.validators.ts
Due: backend:build, backend:lint, backend:apidoc, backend:integration

refactor: remove error handling in PATCH Board controller
  backend/src/controllers/board/board.controller.ts
Due: backend:build, backend:lint, backend:apidoc, backend:integration

feat: add express validator PATCH Board by id endpoint
  backend/src/routes/boards/boards.route.ts
Due: backend:build, backend:lint, backend:apidoc, backend:integration

test: refactor PATCH board test
  backend/src/routes/boards/boards.route.test.ts
Due: backend:build, backend:lint, backend:apidoc, backend:integration

feat(backend): check for duplicate relationships
  backend/src/controllers/relationship/relationship.controller.ts
  backend/src/database/models/Relationship.ts
  backend/src/routes/relationships/relationships.route.ts
Due: backend:build, backend:lint, backend:apidoc, backend:integration

feat(frontend): show duplication relationship error
  frontend/src/pages/Home.tsx
  frontend/src/util/api/utility-functions.ts
Due: frontend:cypress

feat(frontend): add AlertPane dismiss functionality
  frontend/src/components/AlertPane.tsx
  frontend/src/pages/Home.tsx
Due: frontend:cypress

style: use correct routing params in the tests
  backend/src/routes/boards/boards.route.test.ts
  backend/src/routes/relationships/relationships.route.test.ts
Due: backend:build, backend:lint, backend:apidoc, backend:integration

feat: add objectNotFound validator
  backend/src/middleware/boards.validators.ts
Due: backend:build, backend:lint, backend:apidoc, backend:integration

refactor: remove error handler patchBordObjects Board controller
  backend/src/controllers/board/board.controller.ts
Due: backend:build, backend:lint, backend:apidoc, backend:integration

test: refactor Board tests
  backend/src/routes/boards/boards.route.ts
Due: backend:build, backend:lint, backend:apidoc, backend:integration

refactor: rename validators in Board endpoints
  backend/src/routes/boards/boards.route.test.ts
Due: backend:build, backend:lint, backend:apidoc, backend:integration

feat: add isBoard validator
  backend/src/middleware/boards.validators.ts
  backend/src/routes/boards/boards.route.ts
Due: backend:build, backend:lint, backend:apidoc, backend:integration

refactor: remove unused code
  backend/src/controllers/board/board.controller.ts
  backend/src/routes/boards/boards.route.test.ts
Due: backend:build, backend:lint, backend:apidoc, backend:integration

feat: add express validator to getBoardObjects endpoint, refactor board controller
  backend/src/controllers/board/board.controller.ts
  backend/src/routes/boards/boards.route.ts
Due: backend:build, backend:lint, backend:apidoc, backend:integration

feat: add express validator to deleteBoard endpoint, refactor board controller
  backend/src/controllers/board/board.controller.ts
  backend/src/routes/boards/boards.route.ts
Due: backend:build, backend:lint, backend:apidoc, backend:integration

feat: add express validator to deleteBoardObject endpoint, refactor board controller
  backend/src/controllers/board/board.controller.ts
  backend/src/middleware/boards.validators.ts
  backend/src/routes/boards/boards.route.ts
Due: backend:build, backend:lint, backend:apidoc, backend:integration

feat: add express validator to deleteRelationship endpoint, refactor relationship controller
  backend/src/controllers/relationship/relationship.controller.ts
  backend/src/middleware/relationships.validators.ts
  backend/src/routes/relationships/relationships.route.ts
Due: backend:build, backend:lint, backend:apidoc, backend:integration

feat: add express validator to GET Relationship endpoint, refactor relationship controller
  backend/src/controllers/relationship/relationship.controller.ts
  backend/src/middleware/relationships.validators.ts
  backend/src/routes/relationships/relationships.route.ts
Due: backend:build, backend:lint, backend:apidoc, backend:integration

feat: add express validator to GET object endpoint, refactor objects controller
  backend/src/controllers/object/object.controller.ts
  backend/src/middleware/objects.validators.ts
  backend/src/routes/objects/v1/objects.route.ts
Due: backend:build, backend:lint, backend:apidoc, backend:integration

fix: separate seeded data cluster further apart
  backend/src/database/seeders/ObjectSeeder.ts
Due: backend:build, backend:lint, backend:apidoc, backend:integration

refactor: fix test issue
  backend/src/database/seeders/ObjectSeeder.ts
  backend/src/middleware/boards.validators.ts
Due: backend:build, backend:lint, backend:apidoc, backend:integration

fix: cypress test projects page
  frontend/cypress/integration/Projects.spec.js
Due: frontend:cypress

fix: add pipeline ID to patch request body
  frontend/src/util/api/utility-functions.ts
Due: frontend:cypress

fix: replace tag with ID
  frontend/src/pages/Home.tsx
  frontend/src/util/transformConnectionToEdge.ts
Due: frontend:cypress

fix: tag update not being seen on board
  frontend/src/pages/Home.tsx
Due: frontend:cypress

fix: remove version 3 mistake from API doc
  backend/src/routes/objects/v1/objects.route.ts
Due: backend:build, backend:lint, backend:apidoc, backend:integration

test: update move node test
  frontend/cypress/integration/Board.spec.js
Due: frontend:cypress

fix: refetch board on node move
  frontend/src/pages/Home.tsx
Due: frontend:cypress

fix: add margin under item type
  frontend/src/components/PropertiesSidebar.tsx
Due: frontend:cypress

Path conditions:
  backend:build: any of: backend/**/*
  backend:lint: any of: backend/**/*
  backend:apidoc: any of: backend/**/*
  backend:integration: any of: backend/**/*
  frontend:cypress: any of: frontend/**/*
