Repository Kwannnnn/Visual-Engineer: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend:build, backend:lint, backend:apidoc, backend:integration, frontend:cypress

backend:build:
  stage: build
  script:
  - cd backend
  - npm run build
  needs:
  - install
  cache:
  - key: $CI_COMMIT_REF_SLUG-backend
    paths:
    - $CI_PROJECT_DIR/backend/node_modules/
    policy: pull

backend:lint:
  stage: lint
  needs:
  - install
  script:
  - cd backend
  - npm run lint
  cache:
  - key: $CI_COMMIT_REF_SLUG-backend
    paths:
    - $CI_PROJECT_DIR/backend/node_modules/
    policy: pull

backend:apidoc:
  stage: build
  needs:
  - install
  script:
  - cd backend
  - npm run apidoc
  artifacts:
    paths:
    - backend/dist/docs/apidoc/
  cache:
  - key: $CI_COMMIT_REF_SLUG-backend
    paths:
    - $CI_PROJECT_DIR/backend/node_modules/
    policy: pull

backend:integration:
  stage: test
  image: docker/compose:1.29.2
  services:
  - docker:dind
  variables:
    DOCKER_HOST: tcp://docker:2375/
    DOCKER_DRIVER: overlay2
  script:
  - cd backend
  - docker-compose -f test.docker-compose.yml up --build --exit-code-from backend
  cache: []
  artifacts:
    when: always
    reports:
      junit:
  ...

frontend:cypress:
  image: cypress/browsers:node16.13.2-chrome97-ff96
  stage: test
  needs:
  - install
  cache:
  - key: $CI_COMMIT_REF_SLUG-frontend
    paths:
    - $CI_PROJECT_DIR/frontend/node_modules/
    policy: pull
  - key: $CI_COMMIT_REF_SLUG-backend
    paths:
    - $CI_PROJECT_DIR/backend/node_modules/
    policy: pull
  services:
  ...

docs: azure docs comments resolved [skip ci]
  README.md
Due: none

fix: update board when publishing draft node
  frontend/src/components/PropertiesSidebar.tsx
  frontend/src/pages/Home.tsx
  frontend/src/util/hooks/useAPIUtil.ts
Due: frontend:cypress

chore: change init container to use GitLab registry instead of ACR [skip ci]
  azure/prod.docker-compose.yml
Due: none

feat: sidebar closes on draft publish
  frontend/src/components/PropertiesSidebar.tsx
Due: frontend:cypress

refactor(frontend): remove comments in Home component
  frontend/src/pages/Home.tsx
Due: frontend:cypress

fix: fix for validation of post item
  backend/src/controllers/board/board.util.ts
Due: backend:build, backend:lint, backend:apidoc, backend:integration

feat: handle error response for POST item
  frontend/src/components/AlertPane.tsx
  frontend/src/components/PropertiesSidebar.tsx
  frontend/src/components/board/Board.tsx
  frontend/src/pages/Home.tsx
  frontend/src/typings/IPropertyListing.ts
  frontend/src/util/api/utility-functions.ts
Due: frontend:cypress

chore: remove unnecessary TODO tags
  frontend/src/components/PropertiesSidebar.tsx
  frontend/src/components/board/Board.tsx
Due: frontend:cypress

chore: fix typos
  frontend/src/components/board/Board.tsx
Due: frontend:cypress

fix: POST error message not showing correctly on alert pane
  backend/src/controllers/board/board.util.ts
  frontend/src/components/PropertiesSidebar.tsx
  frontend/src/pages/Home.tsx
  frontend/src/util/api/utility-functions.ts
Due: backend:build, backend:lint, backend:apidoc, backend:integration, frontend:cypress

docs: apidoc for new post endpoint
  backend/src/routes/boards/boards.route.ts
Due: backend:build, backend:lint, backend:apidoc, backend:integration

test(frontend): add cypress selectors to properties sidebar buttons
  frontend/src/components/PropertiesSidebar.tsx
Due: frontend:cypress

test(fronend): add cypress selectors for Modal
  frontend/src/components/modal/Modal.tsx
  frontend/src/pages/Home.tsx
Due: frontend:cypress

test(frontend): display confirmation message on delete button click
  frontend/cypress/integration/PropertiesSidebar.spec.js
Due: frontend:cypress

test(frontend): added deletion of an item tests
  frontend/cypress/integration/PropertiesSidebar.spec.js
Due: frontend:cypress

fix(frontend): prevent unnecessary getProperties request on node/edge click
  frontend/src/pages/Home.tsx
Due: frontend:cypress

chore: remove console.log statements
  frontend/src/pages/Home.tsx
Due: frontend:cypress

fix(azure): update init container to wait for postgres to be up [skip ci]
  azure/prod.docker-compose.yml
  backend/init.Dockerfile
Due: backend:build, backend:lint, backend:apidoc, backend:integration

feat(azure): add resource reservations [skip ci]
  azure/prod.docker-compose.yml
Due: none

refactor: onConnectionCallback and onEdgeConnect Board and Home components
  frontend/src/components/board/Board.tsx
  frontend/src/pages/Home.tsx
Due: frontend:cypress

refactor(home): add pipeline tag variable and dataCY
  frontend/src/pages/Home.tsx
Due: frontend:cypress

refactor: fix lint issues
  frontend/src/components/board/Board.tsx
  frontend/src/pages/Home.tsx
Due: frontend:cypress

test(board): add POST relationship test
  frontend/cypress/integration/Board.spec.js
  frontend/cypress/support/test-utils.js
Due: frontend:cypress

feat: added ID to item data model
  backend/src/database/factories/BlowerFactory.ts
  backend/src/database/factories/PipeFittingFactory.ts
  backend/src/database/factories/PipelineFactory.ts
  backend/src/database/factories/PumpFactory.ts
  backend/src/database/factories/TankFactory.ts
  backend/src/database/factories/VesselFactory.ts
  backend/src/database/models/Item.ts
Due: backend:build, backend:lint, backend:apidoc, backend:integration

fix: delete item by item ID
  backend/src/controllers/board/board.controller.ts
Due: backend:build, backend:lint, backend:apidoc, backend:integration

fix: patch item tag
  backend/src/controllers/board/board.controller.ts
  backend/src/routes/boards/boards.route.ts
  backend/src/routes/boards/boards.types.ts
Due: backend:build, backend:lint, backend:apidoc, backend:integration

fix: relationship controllers work with pipelineId
  backend/src/controllers/relationship/relationship.controller.ts
  backend/src/routes/relationships/relationships.route.ts
Due: backend:build, backend:lint, backend:apidoc, backend:integration

feat: fixing item typings in the controllers
  backend/src/controllers/board/board.controller.ts
  backend/src/controllers/object/object.controller.ts
  backend/src/controllers/relationship/relationship.controller.ts
  backend/src/database/factories/BlowerFactory.ts
  backend/src/database/factories/PipeFittingFactory.ts
  backend/src/database/factories/PipelineFactory.ts
  backend/src/database/factories/PumpFactory.ts
  backend/src/database/factories/TankFactory.ts
  backend/src/database/factories/VesselFactory.ts
  backend/src/database/models/Item.ts
  backend/src/database/models/MechanicalEquipment.ts
  backend/src/database/models/PipeItem.ts
  backend/src/database/models/Pipeline.ts
  backend/src/database/models/Relationship.ts
  backend/src/database/models/RotatingEquipment.ts
  backend/src/database/seeders/ObjectSeeder.ts
  backend/src/middleware/relationships.middleware.ts
  backend/src/routes/objects/v1/objects.route.ts
  backend/src/routes/relationships/relationships.route.ts
  backend/src/routes/relationships/relationships.types.ts
Due: backend:build, backend:lint, backend:apidoc, backend:integration

fix: get item by ID
  backend/src/controllers/board/board.controller.ts
  backend/src/controllers/object/object.controller.ts
  backend/src/routes/objects/v1/objects.route.ts
Due: backend:build, backend:lint, backend:apidoc, backend:integration

fix: relationship patch and post work with id
  backend/src/controllers/relationship/relationship.controller.ts
  backend/src/database/models/Item.ts
  backend/src/middleware/relationships.middleware.ts
  backend/src/routes/objects/v1/objects.route.ts
  backend/src/routes/objects/v2/objects.route.ts
  backend/src/routes/relationships/relationships.route.ts
  backend/src/routes/relationships/relationships.types.ts
Due: backend:build, backend:lint, backend:apidoc, backend:integration

test: updated tests to work with item id
  backend/src/controllers/board/board.controller.ts
  backend/src/controllers/object/object.controller.ts
  backend/src/controllers/relationship/relationship.controller.ts
  backend/src/middleware/relationships.middleware.ts
  backend/src/routes/boards/boards.route.test.ts
  backend/src/routes/objects/v1/objects.route.test.ts
  backend/src/routes/objects/v2/objects.route.test.ts
  backend/src/routes/relationships/relationships.route.test.ts
Due: backend:build, backend:lint, backend:apidoc, backend:integration

chore: rename initialProperties, initialNodes
  frontend/src/pages/Home.tsx
Due: frontend:cypress

test: fix Relationship test
  frontend/cypress/support/test-utils.js
Due: frontend:cypress

ci: add backend 'changes' to the frontend:cypress task
  .gitlab-ci.yml
Due: none

refactor: change the getAllBoards utility function
  frontend/src/util/api/utility-functions.ts
Due: frontend:cypress

fix: flickering with loading a board
  frontend/src/components/board/Board.tsx
Due: frontend:cypress

feat(frontend): create the Projects page
  frontend/src/App.tsx
  frontend/src/pages/Projects.tsx
Due: frontend:cypress

Path conditions:
  backend:build: any of: backend/**/*
  backend:lint: any of: backend/**/*
  backend:apidoc: any of: backend/**/*
  backend:integration: any of: backend/**/*
  frontend:cypress: any of: frontend/**/*
