Repository Kwannnnn/Visual-Engineer: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend:build, backend:lint, backend:integration, frontend:build, frontend:cypress

.gitlab-ci.yml:

image: node

stages:
  - install
  - build
  - lint
  - test
  - image

cache:
  paths:
    - backend/node_modules/
    - frontend/node_modules/
  when: on_success

install:
  stage: install
  script:
    - cd backend
    - npm ci
    - cd ../frontend
    - npm ci

# Backend

backend:build:
  stage: build
  only:
    changes:
      - backend/**/*
  script:
    - cd backend
    - npm run build
  needs:
    - install

backend:lint:
  stage: lint
  only:
    changes:
      - backend/**/*
  needs:
    - install
  script:
    - cd backend
    - npm run lint
    
backend:integration:
  stage: test
  only:
    changes:
      - backend/**/*
  image: docker/compose:1.29.2
  services:
    - docker:dind
  variables:
    DOCKER_HOST: tcp://docker:2375/
    DOCKER_DRIVER: overlay2
  script:
    - cd backend
    - docker-compose -f test.docker-compose.yml up --build --exit-code-from backend
  needs: []
  artifacts:
    when: always
    reports:
      junit:
        - backend/dist/jest/junit.xml

backend:image:
  stage: image
  needs:
    - backend:integration
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint: [""]
  script:
    - mkdir -p /kaniko/.docker
    - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" > /kaniko/.docker/config.json
    - /kaniko/executor --context $CI_PROJECT_DIR/backend/ --dockerfile $CI_PROJECT_DIR/backend/Dockerfile --destination $CI_REGISTRY_IMAGE/backend:${CI_COMMIT_TAG}
  rules:
    - if: $CI_COMMIT_TAG

# Frontend

frontend:build:
  stage: build
  only:
    changes:
      - frontend/**/*
  script:
    - cd frontend
    - npm run build
  needs:
    - install

frontend:cypress:
  image: cypress/browsers:node16.13.2-chrome97-ff96
  stage: test
  only:
    changes:
      - frontend/**/*
  needs:
    - install
  script:
    - cd frontend
    - npx cypress install
    - npm run test:cypress

sast:
  stage: test
  needs: []
include:
  - template: Security/SAST.gitlab-ci.yml

chore: Add gitattributes
  .gitattributes
Due: none

feat: Add development docker-compose.yml
  backend/.env.example
  backend/docker-compose.yml
Due: backend:build, backend:lint, backend:integration

test: Setup API testing
  backend/jest.config.js
  backend/package.json
  backend/src/controllers/object/object.controller.spec.ts
  backend/src/database/models/RotatingEquipment.ts
  backend/src/index.ts
  backend/src/routes/index.ts
  backend/src/routes/index/index.route.test.ts
  backend/src/routes/index/index.route.ts
  backend/tsconfig.json
Due: backend:build, backend:lint, backend:integration

chore: Improve backend npm script
  backend/package.json
Due: backend:build, backend:lint, backend:integration

style: models to use default exports
  backend/src/database/models/Blower.ts
  backend/src/database/models/Item.ts
  backend/src/database/models/MechanicalEquipment.ts
  backend/src/database/models/PipeFitting.ts
  backend/src/database/models/PipeItem.ts
  backend/src/database/models/Pipeline.ts
  backend/src/database/models/PressureClass.enum.ts
  backend/src/database/models/Pump.ts
  backend/src/database/models/StaticEquipment.ts
  backend/src/database/models/Tank.ts
  backend/src/database/models/Vessel.ts
Due: backend:build, backend:lint, backend:integration

refactor: optimize project imports
  backend/src/DI.ts
  backend/src/controllers/object/object.controller.ts
  backend/src/database/models/index.ts
  backend/src/index.ts
  backend/src/routes/objects.route.ts
Due: backend:build, backend:lint, backend:integration

chore: setup apidoc
  backend/apidoc.json
  backend/package.json
Due: backend:build, backend:lint, backend:integration

fix: fix DI import
  backend/src/routes/index/index.route.test.ts
Due: backend:build, backend:lint, backend:integration

chore: add apidocs for GET object endpoints
  backend/src/controllers/object/object.controller.ts
  backend/src/database/models/Board.ts
  backend/src/database/models/Item.ts
  backend/src/database/models/StaticEquipment.ts
  backend/src/index.ts
  backend/src/routes/index.ts
  backend/src/routes/objects.route.ts
  backend/src/routes/objects/objects.route.test.ts
  backend/src/routes/objects/objects.route.ts
Due: backend:build, backend:lint, backend:integration

ci: only run image tasks on master and staging branches
  .gitlab-ci.yml
Due: none

ci: add apidoc task
  .gitlab-ci.yml
Due: none

test: comment out test
  backend/src/routes/index/index.route.test.ts
  backend/src/routes/objects/objects.route.test.ts
Due: backend:build, backend:lint, backend:integration

feat: add button component
  frontend/src/App.tsx
  frontend/src/components/Button.tsx
  frontend/src/typings/button.d.ts
  frontend/tsconfig.json
Due: frontend:build, frontend:cypress

feat: add container component
  frontend/src/App.tsx
  frontend/src/components/Button.tsx
  frontend/src/components/Container.tsx
  frontend/src/typings/button.d.ts
  frontend/src/typings/props.d.ts
Due: frontend:build, frontend:cypress

feat: add DBItem container component
  frontend/src/App.tsx
  frontend/src/components/DBItemContainer.tsx
  frontend/src/typings/props.d.ts
Due: frontend:build, frontend:cypress

feat: update example data for cypress testing
  frontend/src/App.tsx
Due: frontend:build, frontend:cypress

feat: add useState for test button
  frontend/src/App.tsx
Due: frontend:build, frontend:cypress

feat: make container component bigger
  frontend/src/components/Container.tsx
Due: frontend:build, frontend:cypress

test(cypress): add basic test for listing 2 items
  frontend/cypress.json
  frontend/cypress/integration/test.spec.js
Due: frontend:build, frontend:cypress

test(react): update basic test
  frontend/src/App.test.tsx
Due: frontend:build, frontend:cypress

feat: add id tag for elements for cypress tests
  frontend/src/App.tsx
  frontend/src/components/Button.tsx
  frontend/src/components/Container.tsx
  frontend/src/typings/props.d.ts
Due: frontend:build, frontend:cypress

chore(git): add cypress test results to gitignore
  .gitignore
Due: none

chore(cypress): remove mocha reporter
  frontend/cypress.json
  frontend/package.json
Due: frontend:build, frontend:cypress

feat: add Board Repository to index file
  backend/src/index.ts
Due: backend:build, backend:lint, backend:integration

feat: add Board controller with getAll endpoint
  backend/src/controllers/board/board.controller.spec.ts
  backend/src/controllers/board/board.controller.ts
  backend/src/controllers/index.ts
Due: backend:build, backend:lint, backend:integration

chore: resolve eslint warnings
  frontend/src/App.tsx
  frontend/src/typings/props.d.ts
Due: frontend:build, frontend:cypress

feat: add Board Router
  backend/src/index.ts
  backend/src/routes/boards.route.ts
  backend/src/routes/index.ts
Due: backend:build, backend:lint, backend:integration

feat: add getById board endpoint
  backend/src/controllers/board/board.controller.ts
  backend/src/routes/boards.route.ts
Due: backend:build, backend:lint, backend:integration

feat: add getBoardObjects endpoint
  backend/src/controllers/board/board.controller.ts
  backend/src/routes/boards.route.ts
Due: backend:build, backend:lint, backend:integration

ci: update development docker-compose.yml [skip ci]
  backend/dev.docker-compose.yml
Due: backend:build, backend:lint, backend:integration

fix(ci): update branch name in CI configuration [skip ci]
  .gitlab-ci.yml
Due: none

docs: add README information [skip ci]
  README.md
Due: none

ci: add SonarQube configuration
  .gitlab-ci.yml
  sonar-project.properties
Due: none

docs: add SonarQube to README [skip ci]
  README.md
Due: none

fix: issue with jest not closing ports properly
  backend/package.json
  backend/src/index.ts
  backend/src/routes/index/index.route.test.ts
  backend/src/routes/objects/objects.route.test.ts
  backend/src/server.ts
Due: backend:build, backend:lint, backend:integration

feat: single table inheritance for item entities
  backend/src/DI.ts
  backend/src/database/models/Blower.ts
  backend/src/database/models/Board.ts
  backend/src/database/models/Item.ts
  backend/src/database/models/MechanicalEquipment.ts
  backend/src/database/models/PipeFitting.ts
  backend/src/database/models/PipeItem.ts
  backend/src/database/models/Pipeline.ts
  backend/src/database/models/Pump.ts
  backend/src/database/models/RotatingEquipment.ts
  backend/src/database/models/StaticEquipment.ts
  backend/src/database/models/Tank.ts
  backend/src/database/models/Vessel.ts
  backend/src/index.ts
Due: backend:build, backend:lint, backend:integration

refactor: rename router to objectsRouter
  backend/src/routes/objects/objects.route.ts
Due: backend:build, backend:lint, backend:integration

merge: resolved conflicts from rebasing on PQ4-9
  backend/src/controllers/board/board.controller.spec.ts
  backend/src/controllers/board/board.controller.ts
  backend/src/controllers/index.ts
  backend/src/routes/boards.route.ts
  backend/src/routes/index.ts
Due: backend:build, backend:lint, backend:integration

merge: resolved conflicts from rebasing on PQ4-9
  backend/package.json
Due: backend:build, backend:lint, backend:integration
