Repository Kwannnnn/Visual-Engineer: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend:build, backend:lint, backend:integration, frontend:build, frontend:cypress

.gitlab-ci.yml:

image: node

stages:
  - install
  - build
  - lint
  - test
  - image

cache:
  paths:
    - backend/node_modules/
    - frontend/node_modules/
  when: on_success

install:
  stage: install
  script:
    - cd backend
    - npm ci
    - cd ../frontend
    - npm ci

# Backend

backend:build:
  stage: build
  only:
    changes:
      - backend/**/*
  script:
    - cd backend
    - npm run build
  needs:
    - install

backend:lint:
  stage: lint
  only:
    changes:
      - backend/**/*
  needs:
    - install
  script:
    - cd backend
    - npm run lint
    
backend:integration:
  stage: test
  only:
    changes:
      - backend/**/*
  image: docker/compose:1.29.2
  services:
    - docker:dind
  variables:
    DOCKER_HOST: tcp://docker:2375/
    DOCKER_DRIVER: overlay2
  script:
    - cd backend
    - docker-compose -f test.docker-compose.yml up --build --exit-code-from backend
  needs: []
  artifacts:
    when: always
    reports:
      junit:
        - backend/dist/jest/junit.xml

backend:image:
  stage: image
  needs:
    - backend:integration
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint: [""]
  script:
    - mkdir -p /kaniko/.docker
    - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" > /kaniko/.docker/config.json
    - /kaniko/executor --context $CI_PROJECT_DIR/backend/ --dockerfile $CI_PROJECT_DIR/backend/Dockerfile --destination $CI_REGISTRY_IMAGE/backend:${CI_COMMIT_TAG}
  rules:
    - if: $CI_COMMIT_TAG

# Frontend

frontend:build:
  stage: build
  only:
    changes:
      - frontend/**/*
  script:
    - cd frontend
    - npm run build
  needs:
    - install

frontend:cypress:
  image: cypress/browsers:node16.13.2-chrome97-ff96
  stage: test
  only:
    changes:
      - frontend/**/*
  needs:
    - install
  script:
    - cd frontend
    - npx cypress install
    - npm run test:cypress

sast:
  stage: test
  needs: []
include:
  - template: Security/SAST.gitlab-ci.yml

refactor: change the api url in utility functions
  frontend/.env.example
  frontend/src/api/utility-functions.ts
Due: frontend:build, frontend:cypress

style: change board background to squares
  frontend/src/components/board/NewBoard.tsx
Due: frontend:build, frontend:cypress

refactor: remove explicit types
  frontend/src/components/board/NewBoard.tsx
Due: frontend:build, frontend:cypress

refactor(relationship): add TypedRequest to POST endpoint
  backend/src/controllers/relationship/relationship.controller.ts
Due: backend:build, backend:lint, backend:integration

feat: change connector line to straight on connect style: fit view on load on board
  frontend/src/components/board/NewBoard.tsx
Due: frontend:build, frontend:cypress

test: cypress tests for PropertiesSidebar
  frontend/cypress/integration/PropertiesSidebar.spec.js
  frontend/src/components/propertiesSidebar/PropertiesSidebar.tsx
  frontend/src/util/transformObjectToNode.ts
Due: frontend:build, frontend:cypress

fix: make board not rerender constantly
  frontend/src/pages/Home.tsx
Due: frontend:build, frontend:cypress

feat: make new connection a temp straight line
  frontend/src/components/board/NewBoard.tsx
Due: frontend:build, frontend:cypress

ci: fix frontend:cypress stage to use concurrently
  .gitlab-ci.yml
Due: none

refactor: remove unnecessary argument in onDragStart
  frontend/src/components/toolbox/ToolboxItem.tsx
Due: frontend:build, frontend:cypress

fix: disable eslint rules for 2 lines in Home page
  frontend/src/pages/Home.tsx
Due: frontend:build, frontend:cypress

chore: typecheck Error in useAPIUtil
  frontend/src/util/hooks/useAPIUtil.ts
Due: frontend:build, frontend:cypress

refactor: cleanup unnecessary code in Home & Toolbox
  frontend/src/components/toolbox/Toolbox.tsx
  frontend/src/pages/Home.tsx
Due: frontend:build, frontend:cypress

fix: remove warning in PropertiesSidebar
  frontend/src/components/propertiesSidebar/PropertiesSidebar.tsx
Due: frontend:build, frontend:cypress

ci: add postgres service when running cypress
  .gitlab-ci.yml
Due: none

ci: add DATABASE_URL variable
  .gitlab-ci.yml
Due: none

ci: update DB schema before running cypress tests
  .gitlab-ci.yml
Due: none

ci: run production backend for cypress tests
  .gitlab-ci.yml
Due: none

ci: add missing PORT variable
  .gitlab-ci.yml
Due: none

fix: update prod script
  backend/package.json
Due: backend:build, backend:lint, backend:integration

ci: add REACT_APP_API_URL variable
  .gitlab-ci.yml
Due: none

ci: exit cypress process when tests complete
  .gitlab-ci.yml
Due: none

ci: exit cypress process when tests complete (exit code 0)
  .gitlab-ci.yml
Due: none

feat: add relationship type
  backend/src/routes/relationships/relationships.types.ts
Due: backend:build, backend:lint, backend:integration

refactor(relationship): remove unused util functions controller
  backend/src/controllers/relationship/relationship.controller.ts
Due: backend:build, backend:lint, backend:integration

feat(relationship): add middleware validations
  backend/src/middleware/relationships.middleware.ts
Due: backend:build, backend:lint, backend:integration

refactor(relationship): remove unused functions
  backend/src/controllers/relationship/relationship.util.ts
Due: backend:build, backend:lint, backend:integration

feat(relationship): add middleware to POST endpoint
  backend/src/routes/relationships/relationships.route.ts
Due: backend:build, backend:lint, backend:integration

refactor: delete old unused code
  frontend/src/components/Button.tsx
  frontend/src/components/Container.tsx
  frontend/src/components/index.ts
  frontend/src/typings/props.d.ts
Due: frontend:build, frontend:cypress

refactor: uninstall testing-library and remove test leftovers
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.test.tsx
  frontend/src/setupTests.ts
Due: frontend:build, frontend:cypress

refactor: delete unused Login page
  frontend/src/App.tsx
  frontend/src/pages/Login.tsx
Due: frontend:build, frontend:cypress

refactor: remove old board implementation
  frontend/src/components/board/Board.tsx
  frontend/src/components/board/BoardItem.tsx
  frontend/src/components/board/DragLayer.tsx
  frontend/src/components/board/DropPlaceholder.tsx
  frontend/src/components/board/item/Item.tsx
  frontend/src/components/board/item/ItemTypes.tsx
  frontend/src/components/board/item/ItemsList.tsx
  frontend/src/components/index.ts
Due: frontend:build, frontend:cypress

refactor: rename NewBoard to Board
  frontend/src/components/board/Board.tsx
  frontend/src/pages/Home.tsx
Due: frontend:build, frontend:cypress

refactor: remove react logo and boilerplate
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/logo.svg
Due: frontend:build, frontend:cypress

docs: update README.md for frontend project
  frontend/README.md
Due: frontend:build, frontend:cypress

refactor: remove unnecessary propertiesSidebar folder
  frontend/src/components/PropertiesSidebar.tsx
  frontend/src/components/index.ts
Due: frontend:build, frontend:cypress

refactor: move utility-functions to util folder
  frontend/src/pages/Home.tsx
  frontend/src/util/api/utility-functions.ts
Due: frontend:build, frontend:cypress

fix: object injection sink vulnerability
  frontend/src/components/PropertiesSidebar.tsx
Due: frontend:build, frontend:cypress

fix: Improper Control of Generation of Code vulnerability
  frontend/src/components/PropertiesSidebar.tsx
Due: frontend:build, frontend:cypress
