Repository Kwannnnn/Visual-Engineer: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend:build, backend:lint, backend:apidoc, backend:integration, frontend:cypress

Path conditions:
  backend:build: any of: backend/**/*
  backend:lint: any of: backend/**/*
  backend:apidoc: any of: backend/**/*
  backend:integration: any of: backend/**/*
  frontend:cypress: any of: frontend/**/*

style: change Navbar style and change logo to svg
  frontend/src/assets/images/logo.svg
  frontend/src/assets/images/wb-logo.png
  frontend/src/components/Navbar.tsx
Due: frontend:cypress

feat(frontend): add draft functionality properties sidebar
  frontend/src/components/PropertiesSidebar.tsx
Due: frontend:cypress

feat(frontend): patch the board object on node move
  frontend/src/components/board/Board.tsx
  frontend/src/pages/Home.tsx
Due: frontend:cypress

feat(frontend): change updateBoardObject api wrapper
  frontend/src/util/api/utility-functions.ts
Due: frontend:cypress

feat(frontend): close properties bar on tab change
  frontend/src/pages/Home.tsx
Due: frontend:cypress

refactor: change NewBoard component name to Board
  frontend/src/components/board/Board.tsx
  frontend/src/components/index.ts
  frontend/src/pages/Home.tsx
Due: frontend:cypress

fix(frontend): invalid button in button DOM
  frontend/src/components/board/tabbar/Tab.tsx
Due: frontend:cypress

feat(frontend): patch object when user types in field
  frontend/src/components/PropertiesSidebar.tsx
  frontend/src/pages/Home.tsx
Due: frontend:cypress

chore: remove react flow ad from board
  frontend/src/index.css
Due: frontend:cypress

chore(frontend): install cypress-drag-drop module
  frontend/cypress/support/commands.js
  frontend/package-lock.json
  frontend/package.json
Due: frontend:cypress

test: fixup cypress tests
  frontend/cypress/integration/Board.spec.js
  frontend/cypress/integration/PropertiesSidebar.spec.js
  frontend/cypress/support/test-utils.js
Due: frontend:cypress

fix: Object seeder to use recognizable tags
  backend/src/database/seeders/ObjectSeeder.ts
  frontend/cypress/integration/Board.spec.js
Due: backend:build, backend:lint, backend:apidoc, backend:integration, frontend:cypress

feat(azure): add reverse proxy TLS container deployment
  azure/caddy-proxy-aci.yml
Due: none

docs(azure): update README
  README.md
Due: none

ci: update pipeline sequencing, split install steps
  .gitlab-ci.yml
Due: none

ci(chore): run backend integration tests after backend:build
  .gitlab-ci.yml
Due: none

ci(azure): add BRANCH and ENV_NAME to frontend:deploy
  .gitlab-ci.yml
Due: none

ci(azure): update deployment environment
  .gitlab-ci.yml
Due: none

ci: update configuration
  .gitlab-ci.yml
Due: none

chore(frontend): remove nginx configuration [skip ci]
  frontend/nginx/nginx.conf
Due: frontend:cypress

chore(azure): move deployment scripts to the azure directory [skip ci]
  azure/.env.example
  azure/prod.docker-compose.yml
  backend/.env.example
Due: backend:build, backend:lint, backend:apidoc, backend:integration

ci(azure): add dynamic environment URL
  .gitlab-ci.yml
Due: none

ci(azure): only deploy frontend to Azure for main and staging
  .gitlab-ci.yml
Due: none

ci: build and push init image
  .gitlab-ci.yml
Due: none

ci: update deployment environment variables
  .gitlab-ci.yml
Due: none

ci(fix): only deploy frontend to Azure for main and staging
  .gitlab-ci.yml
Due: none

docs: update caddy proxy deployment command [skip ci]
  README.md
Due: none

feat(azure): update deployment scripts [skip ci]
  azure/.env.example
  azure/prod.docker-compose.yml
Due: none

chore: extract listing to a seperate file
  frontend/src/typings/IListing.ts
Due: frontend:cypress

chore: disable validation for postObjectToBoard
  backend/src/controllers/board/board.controller.ts
Due: backend:build, backend:lint, backend:apidoc, backend:integration

feat: make most item propertiers nullable
  backend/src/database/models/Item.ts
  backend/src/database/models/MechanicalEquipment.ts
  backend/src/database/models/PipeItem.ts
  backend/src/database/models/Pipeline.ts
  backend/src/database/models/RotatingEquipment.ts
Due: backend:build, backend:lint, backend:apidoc, backend:integration

merge: PQ4-40 with PQ4-41
  frontend/src/components/PropertiesSidebar.tsx
  frontend/src/components/board/Board.tsx
  frontend/src/pages/Home.tsx
  frontend/src/util/api/utility-functions.ts
Due: frontend:cypress

fix: backend tests
  backend/src/controllers/board/board.controller.ts
  backend/src/controllers/board/board.util.ts
  backend/src/routes/boards/boards.route.test.ts
Due: backend:build, backend:lint, backend:apidoc, backend:integration

style: fix eslint backend
  backend/src/controllers/board/board.controller.ts
  backend/src/database/models/Item.ts
  backend/src/database/models/PipeItem.ts
Due: backend:build, backend:lint, backend:apidoc, backend:integration

style: change color of navbar new project button
  frontend/src/components/Navbar.tsx
  frontend/tailwind.config.js
Due: frontend:cypress

fix: issue with input field outline
  frontend/src/components/PropertiesSidebar.tsx
Due: frontend:cypress

fix: wrong rotation of toolbox dropdown arrow
  frontend/src/components/toolbox/ToolboxList.tsx
Due: frontend:cypress
