Repository Kwannnnn/Visual-Engineer: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend:build, backend:lint, backend:apidoc, backend:integration, frontend:cypress

Path conditions:
  backend:build: any of: backend/**/*
  backend:lint: any of: backend/**/*
  backend:apidoc: any of: backend/**/*
  backend:integration: any of: backend/**/*
  frontend:cypress: any of: frontend/**/*

style: fix eslint backend
  backend/src/controllers/board/board.controller.ts
  backend/src/database/models/Item.ts
  backend/src/database/models/PipeItem.ts
Due: backend:build, backend:lint, backend:apidoc, backend:integration

feat: make most item propertiers nullable
  backend/src/database/models/Item.ts
  backend/src/database/models/MechanicalEquipment.ts
  backend/src/database/models/PipeItem.ts
  backend/src/database/models/Pipeline.ts
  backend/src/database/models/RotatingEquipment.ts
Due: backend:build, backend:lint, backend:apidoc, backend:integration

fix: backend tests
  backend/src/controllers/board/board.controller.ts
  backend/src/controllers/board/board.util.ts
  backend/src/routes/boards/boards.route.test.ts
Due: backend:build, backend:lint, backend:apidoc, backend:integration

merge: PQ4-40 with PQ4-41
  frontend/src/components/PropertiesSidebar.tsx
  frontend/src/components/board/Board.tsx
  frontend/src/pages/Home.tsx
  frontend/src/util/api/utility-functions.ts
Due: frontend:cypress

chore: disable validation for postObjectToBoard
  backend/src/controllers/board/board.controller.ts
Due: backend:build, backend:lint, backend:apidoc, backend:integration

test: add classnames for edges for cypress
  frontend/src/components/board/Board.tsx
  frontend/src/util/transformConnectionToEdge.ts
Due: frontend:cypress

chore: remove unnecessary frontend dockerignore and npm scripts [skip ci]
  frontend/.dockerignore
  frontend/package.json
Due: frontend:cypress

test(cypress): add edge placeholder test
  frontend/cypress/integration/PropertiesSidebar.spec.js
Due: frontend:cypress

chore: moved requiredAttributes array outside
  backend/src/controllers/board/board.util.ts
Due: backend:build, backend:lint, backend:apidoc, backend:integration

test: change cypress test to listen to API requests
  frontend/cypress/integration/Board.spec.js
  frontend/cypress/integration/PropertiesSidebar.spec.js
Due: frontend:cypress

feat: use tag instead of index for data-cy
  frontend/src/components/board/Board.tsx
  frontend/src/util/transformObjectToNode.ts
Due: frontend:cypress

feat: add key to label (propSidebar)
  frontend/src/components/PropertiesSidebar.tsx
Due: frontend:cypress

fix: eslint warnings failing build
  frontend/src/components/board/Board.tsx
Due: frontend:cypress

fix: render edges on first startup
  frontend/src/pages/Home.tsx
Due: frontend:cypress

refactor: remove explicit typings from Home page
  frontend/src/pages/Home.tsx
Due: frontend:cypress

fix: add support for Edges for field changing
  frontend/src/pages/Home.tsx
Due: frontend:cypress

fix: render edges on board change
  frontend/src/pages/Home.tsx
Due: frontend:cypress

style: make draft pipeline label more readable
  frontend/src/components/board/Board.tsx
Due: frontend:cypress

feat: post draft item if not exist in db
  frontend/src/components/PropertiesSidebar.tsx
  frontend/src/components/board/Board.tsx
  frontend/src/pages/Home.tsx
Due: frontend:cypress

refactor: update deleteBoardObject function
  frontend/src/util/api/utility-functions.ts
Due: frontend:cypress

feat(frontend): delete node on backspace, or using delete button
  frontend/src/components/PropertiesSidebar.tsx
  frontend/src/components/board/Board.tsx
  frontend/src/pages/Home.tsx
Due: frontend:cypress

chore: add apidoc parameters for PATCH relationship
  backend/src/routes/relationships/relationships.route.ts
Due: backend:build, backend:lint, backend:apidoc, backend:integration

feat: add updateRelationship utility function
  frontend/src/util/api/utility-functions.ts
Due: frontend:cypress

feat(frontend): allow edges to be updated
  frontend/src/components/board/Board.tsx
  frontend/src/pages/Home.tsx
Due: frontend:cypress

chore: remove console logs
  frontend/src/pages/Home.tsx
Due: frontend:cypress

fix: remove redundant pipeline tag parameter
  backend/src/routes/relationships/relationships.route.ts
  frontend/src/util/api/utility-functions.ts
Due: backend:build, backend:lint, backend:apidoc, backend:integration, frontend:cypress

feat: remove item relationship checks
  backend/src/controllers/relationship/relationship.controller.ts
  backend/src/controllers/relationship/relationship.util.ts
  backend/src/middleware/relationships.middleware.ts
  backend/src/routes/relationships/relationships.route.test.ts
Due: backend:build, backend:lint, backend:apidoc, backend:integration

feat(frontend): install font awesome regular icons
  frontend/package-lock.json
  frontend/package.json
Due: frontend:cypress

feat(frontend): create reusable button component
  frontend/src/components/button/Button.tsx
  frontend/src/components/button/ButtonRole.enum.ts
Due: frontend:cypress

feat(frontend): create Modal component
  frontend/src/components/modal/Modal.tsx
  frontend/src/components/modal/ModalType.enum.ts
Due: frontend:cypress

feat(frontend): add POST relationship utility function Co-authored-by: PeterP_Saxion <490498@student.saxion.nl>
  frontend/src/util/api/utility-functions.ts
Due: frontend:cypress

feat(frontend): disable deletion on Backspace
  frontend/src/components/board/Board.tsx
Due: frontend:cypress

feat(frontend): display Modal overlay on node deletion
  frontend/src/pages/Home.tsx
Due: frontend:cypress

refactor: change alert pane default heading
  frontend/src/components/AlertPane.tsx
Due: frontend:cypress

feat(frontend): add onEdgeConnect callback in the Board component Co-authored-by: PeterP_Saxion <490498@student.saxion.nl>
  frontend/src/components/board/Board.tsx
Due: frontend:cypress

feat(frontend): add POST relationship functionality to the Home component Co-authored-by: PeterP_Saxion <490498@student.saxion.nl>
  frontend/src/pages/Home.tsx
Due: frontend:cypress

docs: azure deployment commands
  README.md
Due: none

docs: azure docs comments resolved
  README.md
Due: none

docs: azure documentation comments resolved
  README.md
Due: none

docs: azure docs comments resolved [skip ci]
  README.md
Due: none
