Repository Kwannnnn/Visual-Engineer: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend:build, backend:lint, backend:apidoc, backend:integration, frontend:cypress

backend:build:
  stage: build
  script:
  - cd backend
  - npm run build
  needs:
  - install
  cache:
  - key: $CI_COMMIT_REF_SLUG-backend
    paths:
    - $CI_PROJECT_DIR/backend/node_modules/
    policy: pull

backend:lint:
  stage: lint
  needs:
  - install
  script:
  - cd backend
  - npm run lint
  cache:
  - key: $CI_COMMIT_REF_SLUG-backend
    paths:
    - $CI_PROJECT_DIR/backend/node_modules/
    policy: pull

backend:apidoc:
  stage: build
  needs:
  - install
  script:
  - cd backend
  - npm run apidoc
  artifacts:
    paths:
    - backend/dist/docs/apidoc/
  cache:
  - key: $CI_COMMIT_REF_SLUG-backend
    paths:
    - $CI_PROJECT_DIR/backend/node_modules/
    policy: pull

backend:integration:
  stage: test
  image: docker/compose:1.29.2
  services:
  - docker:dind
  variables:
    DOCKER_HOST: tcp://docker:2375/
    DOCKER_DRIVER: overlay2
  script:
  - cd backend
  - docker-compose -f test.docker-compose.yml up --build --exit-code-from backend
  cache: []
  artifacts:
    when: always
    reports:
      junit:
  ...

frontend:cypress:
  image: cypress/browsers:node16.13.2-chrome97-ff96
  stage: test
  needs:
  - install
  cache:
  - key: $CI_COMMIT_REF_SLUG-frontend
    paths:
    - $CI_PROJECT_DIR/frontend/node_modules/
    policy: pull
  - key: $CI_COMMIT_REF_SLUG-backend
    paths:
    - $CI_PROJECT_DIR/backend/node_modules/
    policy: pull
  services:
  ...

fix: edges disappearing on node move
  frontend/src/pages/Home.tsx
Due: frontend:cypress

fix: validation message for duplicate relationship
  backend/src/controllers/relationship/relationship.controller.ts
Due: backend:build, backend:lint, backend:apidoc, backend:integration

feat(frontend): add AlertPane dismiss functionality
  frontend/src/components/AlertPane.tsx
  frontend/src/pages/Home.tsx
Due: frontend:cypress

chore: remove duplicate method
  frontend/src/pages/Home.tsx
Due: frontend:cypress

chore: disable onEdgeUpdate
  frontend/src/components/board/Board.tsx
  frontend/src/pages/Home.tsx
Due: frontend:cypress

fix: improper local storage cleanup
  frontend/src/pages/Home.tsx
Due: frontend:cypress

fix(azure): production frontend deploy hotfix
  .gitlab-ci.yml
Due: none

feat(azure): add azure swa route configuration
  frontend/staticwebapp.config.json
Due: frontend:cypress

fix(netlify): add netlify route configuration
  frontend/netlify.toml
Due: frontend:cypress

Path conditions:
  backend:build: any of: backend/**/*
  backend:lint: any of: backend/**/*
  backend:apidoc: any of: backend/**/*
  backend:integration: any of: backend/**/*
  frontend:cypress: any of: frontend/**/*
