Repository Kwannnnn/Visual-Engineer: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend:build, backend:lint, backend:integration, frontend:build, frontend:cypress

.gitlab-ci.yml:

image: node

stages:
  - install
  - build
  - lint
  - test
  - image

cache:
  paths:
    - backend/node_modules/
    - frontend/node_modules/
  when: on_success

install:
  stage: install
  script:
    - cd backend
    - npm ci
    - cd ../frontend
    - npm ci

# Backend

backend:build:
  stage: build
  only:
    changes:
      - backend/**/*
  script:
    - cd backend
    - npm run build
  needs:
    - install

backend:lint:
  stage: lint
  only:
    changes:
      - backend/**/*
  needs:
    - install
  script:
    - cd backend
    - npm run lint
    
backend:integration:
  stage: test
  only:
    changes:
      - backend/**/*
  image: docker/compose:1.29.2
  services:
    - docker:dind
  variables:
    DOCKER_HOST: tcp://docker:2375/
    DOCKER_DRIVER: overlay2
  script:
    - cd backend
    - docker-compose -f test.docker-compose.yml up --build --exit-code-from backend
  needs: []
  artifacts:
    when: always
    reports:
      junit:
        - backend/dist/jest/junit.xml

backend:image:
  stage: image
  needs:
    - backend:integration
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint: [""]
  script:
    - mkdir -p /kaniko/.docker
    - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" > /kaniko/.docker/config.json
    - /kaniko/executor --context $CI_PROJECT_DIR/backend/ --dockerfile $CI_PROJECT_DIR/backend/Dockerfile --destination $CI_REGISTRY_IMAGE/backend:${CI_COMMIT_TAG}
  rules:
    - if: $CI_COMMIT_TAG

# Frontend

frontend:build:
  stage: build
  only:
    changes:
      - frontend/**/*
  script:
    - cd frontend
    - npm run build
  needs:
    - install

frontend:cypress:
  image: cypress/browsers:node16.13.2-chrome97-ff96
  stage: test
  only:
    changes:
      - frontend/**/*
  needs:
    - install
  script:
    - cd frontend
    - npx cypress install
    - npm run test:cypress

sast:
  stage: test
  needs: []
include:
  - template: Security/SAST.gitlab-ci.yml

feat(frontend): created a fetching React hook
  frontend/src/api/utility-functions.ts
  frontend/src/util/hooks/useAPIUtil.ts
Due: frontend:build, frontend:cypress

test(api): add tests for patch relationship endpoint
  backend/src/routes/relationships/relationships.route.test.ts
Due: backend:build, backend:lint, backend:integration

feat(api): add patch relationship controller
  backend/src/controllers/relationship/relationship.controller.ts
Due: backend:build, backend:lint, backend:integration

feat(api): add patch relationship route
  backend/src/routes/relationships/relationships.route.ts
Due: backend:build, backend:lint, backend:integration

docs(api): Add API doc for relationship patch
  backend/src/routes/relationships/relationships.route.ts
Due: backend:build, backend:lint, backend:integration

refactor: extracted node mapping method in a separate file
  frontend/src/api/utility-functions.ts
  frontend/src/typings/IObjectContext.ts
  frontend/src/util/transformObjectToNode.ts
Due: frontend:build, frontend:cypress

refactor: utilize useAPIUtil hook in Home page
  frontend/src/pages/Home.tsx
Due: frontend:build, frontend:cypress

style: disable max-len eslint rule (frontend)
  frontend/.eslintrc.json
Due: frontend:build, frontend:cypress

feat(backend): add type key to toolbox item types
  backend/src/controllers/object/objectTypes.json
  backend/src/routes/objects/v2/objects.route.ts
  frontend/src/components/toolbox/ToolboxItem.tsx
  frontend/src/components/toolbox/ToolboxList.tsx
Due: backend:build, backend:lint, backend:integration, frontend:build, frontend:cypress

feat(frontend): add getTypeProperties api wrapper
  frontend/src/api/utility-functions.ts
Due: frontend:build, frontend:cypress

feat(frontend): display relevant properties onDrop
  frontend/src/components/board/NewBoard.tsx
  frontend/src/components/propertiesSidebar/PropertiesList.tsx
  frontend/src/components/propertiesSidebar/PropertiesSidebar.tsx
  frontend/src/pages/Home.tsx
  frontend/src/util/hooks/useAPIUtil.ts
Due: frontend:build, frontend:cypress

feat(frontend): display tag for existing items
  frontend/src/components/board/ItemNode.tsx
  frontend/src/components/board/NewBoard.tsx
  frontend/src/components/toolbox/ToolboxItem.tsx
  frontend/src/pages/Home.tsx
  frontend/src/util/transformObjectToNode.ts
Due: frontend:build, frontend:cypress

style: imrove behavior of the home page
  frontend/src/components/Navbar.tsx
  frontend/src/components/board/NewBoard.tsx
  frontend/src/components/propertiesSidebar/PropertiesList.tsx
  frontend/src/components/propertiesSidebar/PropertiesSidebar.tsx
  frontend/src/components/toolbox/Toolbox.tsx
  frontend/src/pages/Home.tsx
  frontend/tailwind.config.js
Due: frontend:build, frontend:cypress

style: custom outline offset for input fields
  frontend/tailwind.config.js
Due: frontend:build, frontend:cypress

style: properties list
  frontend/src/components/propertiesSidebar/PropertiesList.tsx
  frontend/src/components/propertiesSidebar/PropertiesSidebar.tsx
  frontend/src/pages/Home.tsx
Due: frontend:build, frontend:cypress

style: increase the size of the node handles
  frontend/src/components/board/ItemNode.tsx
Due: frontend:build, frontend:cypress

test: fix cypress tests according to the new changes
  frontend/cypress/integration/Board.spec.js
  frontend/cypress/integration/Toolbox.spec.js
Due: frontend:build, frontend:cypress

feat(api): Use ValidationError in relationship controller
  backend/src/controllers/relationship/relationship.controller.ts
Due: backend:build, backend:lint, backend:integration

chore(api): separate relationship body check into separate function
  backend/src/controllers/relationship/relationship.controller.ts
  backend/src/controllers/relationship/relationship.util.ts
Due: backend:build, backend:lint, backend:integration

refactor(relationship): add generic error to POST endpoint
  backend/src/controllers/relationship/relationship.controller.ts
Due: backend:build, backend:lint, backend:integration

refactor(relationship): add same items and items of type pipeline validations
  backend/src/controllers/relationship/relationship.util.ts
Due: backend:build, backend:lint, backend:integration

test(relationship): add same items and items of type pipeline tests
  backend/src/routes/relationships/relationships.route.test.ts
Due: backend:build, backend:lint, backend:integration

docs(api): add same items and items of type pipeline definitions to POST relationship
  backend/src/routes/relationships/relationships.route.ts
Due: backend:build, backend:lint, backend:integration

fix(api): change pipe item check to pipeline
  backend/src/controllers/relationship/relationship.util.ts
Due: backend:build, backend:lint, backend:integration

feat: pass currentNode from Home to PropSideBar
  frontend/src/pages/Home.tsx
Due: frontend:build, frontend:cypress

feat: populate the sidebar and move PropertiesList to PropertiesSidebar
  frontend/src/components/propertiesSidebar/PropertiesList.tsx
  frontend/src/components/propertiesSidebar/PropertiesSidebar.tsx
Due: frontend:build, frontend:cypress

style: ignore no-param-reassign rule eslint
  frontend/.eslintrc.json
Due: frontend:build, frontend:cypress

style: ignore no-param-reassign rule eslint
  frontend/.eslintrc.json
  frontend/src/components/propertiesSidebar/PropertiesList.tsx
Due: frontend:build, frontend:cypress

feat: dockerizing the frontend
  frontend/.dockerignore
  frontend/Dockerfile
  frontend/Dockerfile.prod
  frontend/docker-compose.prod.yml
  frontend/docker-compose.yml
  frontend/nginx/nginx.conf
Due: frontend:build, frontend:cypress

chore: adding docker scripts to package.json
  frontend/package.json
Due: frontend:build, frontend:cypress

fix(apidoc): change not found code from 400 to 404
  backend/src/routes/relationships/relationships.route.ts
Due: backend:build, backend:lint, backend:integration

feat(api): applying code review request for response status
  backend/src/controllers/relationship/relationship.controller.ts
Due: backend:build, backend:lint, backend:integration

fix: removed PropertiesList.tsx
  frontend/src/components/index.ts
  frontend/src/components/propertiesSidebar/PropertiesList.tsx
Due: frontend:build, frontend:cypress

fix: add dependency array to useEffect in PropSidebar
  frontend/src/components/propertiesSidebar/PropertiesSidebar.tsx
Due: frontend:build, frontend:cypress

style: improve properties sidebar visuals
  frontend/src/components/propertiesSidebar/PropertiesSidebar.tsx
Due: frontend:build, frontend:cypress

feat: do not render pipeline as object
  frontend/src/util/transformObjectToNode.ts
Due: frontend:build, frontend:cypress

feat: define api connection type for backend calls
  frontend/src/typings/IOConnectionContext.ts
Due: frontend:build, frontend:cypress

feat: add relationships api call util to frontend
  frontend/src/api/utility-functions.ts
Due: frontend:build, frontend:cypress

feat: add util func to transform connection to edge
  frontend/src/util/transformConnectionToEdge.ts
Due: frontend:build, frontend:cypress

feat: display object connections from database
  frontend/src/components/board/NewBoard.tsx
  frontend/src/pages/Home.tsx
Due: frontend:build, frontend:cypress
