Repository Kwannnnn/Visual-Engineer: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend:build, backend:lint, backend:integration, frontend:build, frontend:cypress

.gitlab-ci.yml:

image: node

stages:
  - install
  - build
  - lint
  - test
  - image

cache:
  paths:
    - backend/node_modules/
    - frontend/node_modules/
  when: on_success

install:
  stage: install
  script:
    - cd backend
    - npm ci
    - cd ../frontend
    - npm ci

# Backend

backend:build:
  stage: build
  only:
    changes:
      - backend/**/*
  script:
    - cd backend
    - npm run build
  needs:
    - install

backend:lint:
  stage: lint
  only:
    changes:
      - backend/**/*
  needs:
    - install
  script:
    - cd backend
    - npm run lint
    
backend:integration:
  stage: test
  only:
    changes:
      - backend/**/*
  image: docker/compose:1.29.2
  services:
    - docker:dind
  variables:
    DOCKER_HOST: tcp://docker:2375/
    DOCKER_DRIVER: overlay2
  script:
    - cd backend
    - docker-compose -f test.docker-compose.yml up --build --exit-code-from backend
  needs: []
  artifacts:
    when: always
    reports:
      junit:
        - backend/dist/jest/junit.xml

backend:image:
  stage: image
  needs:
    - backend:integration
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint: [""]
  script:
    - mkdir -p /kaniko/.docker
    - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" > /kaniko/.docker/config.json
    - /kaniko/executor --context $CI_PROJECT_DIR/backend/ --dockerfile $CI_PROJECT_DIR/backend/Dockerfile --destination $CI_REGISTRY_IMAGE/backend:${CI_COMMIT_TAG}
  rules:
    - if: $CI_COMMIT_TAG

# Frontend

frontend:build:
  stage: build
  only:
    changes:
      - frontend/**/*
  script:
    - cd frontend
    - npm run build
  needs:
    - install

frontend:cypress:
  image: cypress/browsers:node16.13.2-chrome97-ff96
  stage: test
  only:
    changes:
      - frontend/**/*
  needs:
    - install
  script:
    - cd frontend
    - npx cypress install
    - npm run test:cypress

sast:
  stage: test
  needs: []
include:
  - template: Security/SAST.gitlab-ci.yml

chore: apidocs and tests
  backend/src/routes/relationships/relationships.route.test.ts
  backend/src/routes/relationships/relationships.route.ts
Due: backend:build, backend:lint, backend:integration

refactor(backend): fix objects route test - add undefined relationship Co-authored-by: Philippos Slicher <philipposslicher@gmail.com>
  backend/src/routes/objects/objects.route.test.ts
Due: backend:build, backend:lint, backend:integration

docs: apidoc for object types route
  backend/src/routes/objects/v1/objects.route.ts
Due: backend:build, backend:lint, backend:integration

feat: constants file for object types
  backend/src/controllers/object/constants.ts
Due: backend:build, backend:lint, backend:integration

feat: get types controller function
  backend/src/controllers/object/object.controller.ts
Due: backend:build, backend:lint, backend:integration

feat(frontend): utility function to fetch types
  frontend/src/api/utility-functions.ts
Due: frontend:build, frontend:cypress

chore: convert types obj to json
  backend/src/controllers/object/constants.ts
  backend/src/controllers/object/objectTypes.json
  backend/tsconfig.json
Due: backend:build, backend:lint, backend:integration

feat(frontend): fetch types and render toolbox
  frontend/src/components/toolbox/Toolbox.tsx
Due: frontend:build, frontend:cypress

feat: reordered fetching & rendering of toolbox
  backend/src/controllers/object/object.controller.ts
  frontend/src/components/toolbox/Toolbox.tsx
  frontend/src/components/toolbox/ToolboxList.tsx
  frontend/src/pages/Home.tsx
Due: backend:build, backend:lint, backend:integration, frontend:build, frontend:cypress

feat: api test for getObjectTypes
  backend/src/routes/objects/v1/objects.route.test.ts
  backend/src/routes/objects/v1/objects.route.ts
Due: backend:build, backend:lint, backend:integration

chore: move getTypes endpoint to api v2
  backend/src/index.ts
  backend/src/routes/objects/v1/objects.route.test.ts
  backend/src/routes/objects/v1/objects.route.ts
  backend/src/routes/objects/v2/objects.route.test.ts
  backend/src/routes/objects/v2/objects.route.ts
Due: backend:build, backend:lint, backend:integration

fix: Historical Apidoc definitions
  backend/src/routes/_apidoc.ts
Due: backend:build, backend:lint, backend:integration

feat: relationship database seeder
  backend/src/controllers/relationship/relationship.controller.ts
  backend/src/database/models/Relationship.ts
  backend/src/database/seeders/DatabaseSeeder.ts
  backend/src/database/seeders/RelationshipSeeder.ts
  backend/src/database/seeders/index.ts
  backend/src/routes/objects/v1/objects.route.test.ts
  backend/src/routes/relationships/relationships.route.test.ts
Due: backend:build, backend:lint, backend:integration

refactor: replace ids with cypress test selectors
  frontend/src/components/toolbox/Toolbox.tsx
  frontend/src/components/toolbox/ToolboxItem.tsx
  frontend/src/components/toolbox/ToolboxList.tsx
Due: frontend:build, frontend:cypress

refactor: rewrite Toolbox cypress tests
  frontend/cypress/integration/Toolbox.spec.js
  frontend/cypress/integration/test.spec.js
Due: frontend:build, frontend:cypress

refactor: remove unused test script in frontend
  frontend/package.json
Due: frontend:build, frontend:cypress

refactor: rename eslint script to lint
  frontend/package.json
Due: frontend:build, frontend:cypress

fix(backend): rename wrong classname for TankFactory
  backend/src/database/factories/TankFactory.ts
Due: backend:build, backend:lint, backend:integration

fix: relationship seeder is connected with context
  backend/src/controllers/relationship/relationship.controller.ts
  backend/src/database/models/Item.ts
  backend/src/database/models/index.ts
  backend/src/database/seeders/RelationshipSeeder.ts
  backend/src/routes/objects/v1/objects.route.test.ts
  backend/src/routes/relationships/relationships.route.test.ts
Due: backend:build, backend:lint, backend:integration

chore: include data-cy selector for ItemNode
  frontend/src/components/board/ItemNode.tsx
  frontend/src/components/board/NewBoard.tsx
Due: frontend:build, frontend:cypress

test(frontend): react flow drag and drop
  frontend/cypress/integration/Board.spec.js
Due: frontend:build, frontend:cypress

chore: disable video and screenshot for cypress
  frontend/cypress.json
Due: frontend:build, frontend:cypress

chore: add data-cy to node handles
  frontend/src/components/board/ItemNode.tsx
Due: frontend:build, frontend:cypress

test: connection of two nodes on the board
  frontend/cypress/integration/Board.spec.js
Due: frontend:build, frontend:cypress

fix(pipeline): remove console logging
  frontend/src/pages/Home.tsx
Due: frontend:build, frontend:cypress

fix(eslint): remove unused variable
  frontend/src/pages/Home.tsx
Due: frontend:build, frontend:cypress

test: fix inconsistencies with naming [skip ci]
  frontend/cypress/integration/Board.spec.js
Due: frontend:build, frontend:cypress

fix(apidoc): fixed typos in relationship apidoc
  backend/src/routes/relationships/relationships.route.test.ts
  backend/src/routes/relationships/relationships.route.ts
Due: backend:build, backend:lint, backend:integration

feat: added missing tests in the backend
  backend/src/routes/boards/boards.route.test.ts
  backend/src/routes/relationships/relationships.route.test.ts
Due: backend:build, backend:lint, backend:integration

feat: added relationship types file
  backend/src/controllers/board/board.controller.ts
  backend/src/controllers/relationship/relationship.controller.ts
Due: backend:build, backend:lint, backend:integration

feat: added relationship types file
  backend/src/controllers/board/board.controller.ts
  backend/src/routes/relationships/relationships.types.ts
Due: backend:build, backend:lint, backend:integration

ci: run backend for cypress
  .gitlab-ci.yml
Due: none

chore: correct typo in relationship router
  backend/src/routes/relationships/relationships.route.test.ts
Due: backend:build, backend:lint, backend:integration

feat: add relationship util functions
  backend/src/controllers/relationship/relationship.util.ts
Due: backend:build, backend:lint, backend:integration

feat: add POST Relationship endpoint
  backend/src/controllers/relationship/relationship.controller.ts
Due: backend:build, backend:lint, backend:integration

feat: add PipeFitting and another Pipeline to the ObjectSeeder
  backend/src/database/seeders/ObjectSeeder.ts
Due: backend:build, backend:lint, backend:integration

docs(apidoc): add apidoc for POST relationship endpoint
  backend/src/routes/relationships/relationships.route.ts
Due: backend:build, backend:lint, backend:integration

fix(tests): refactor boards, objects, relationships tests according to the updated seeder
  backend/src/database/seeders/ObjectSeeder.ts
  backend/src/routes/boards/boards.route.test.ts
  backend/src/routes/objects/v1/objects.route.test.ts
  backend/src/routes/relationships/relationships.route.test.ts
Due: backend:build, backend:lint, backend:integration

test: add POST Relationship endpoint tests
  backend/src/routes/relationships/relationships.route.test.ts
Due: backend:build, backend:lint, backend:integration

feat: add body req params to relationship type def
  backend/src/routes/relationships/relationships.types.ts
Due: backend:build, backend:lint, backend:integration
