Repository Kwannnnn/Visual-Engineer: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend:build, backend:lint, backend:integration, frontend:build, frontend:cypress

backend:build:
  stage: build
  script:
  - cd backend
  - npm run build
  needs:
  - install

backend:lint:
  stage: lint
  needs:
  - install
  script:
  - cd backend
  - npm run lint

backend:integration:
  stage: test
  image: docker/compose:1.29.2
  services:
  - docker:dind
  variables:
    DOCKER_HOST: tcp://docker:2375/
    DOCKER_DRIVER: overlay2
  script:
  - cd backend
  - docker-compose -f test.docker-compose.yml up --build --exit-code-from backend
  needs: []
  artifacts:
    when: always
    reports:
      junit:
  ...

frontend:build:
  stage: build
  script:
  - cd frontend
  - npm run build
  needs:
  - install

frontend:cypress:
  image: cypress/browsers:node16.13.2-chrome97-ff96
  stage: test
  needs:
  - install
  script:
  - cd frontend
  - npx cypress install
  - npm run test:cypress

feat(toolbox): change stile to look like wireframe
  frontend/src/components/Toolbox.tsx
  frontend/src/components/ToolboxItem.tsx
  frontend/src/components/ToolboxList.tsx
Due: frontend:build, frontend:cypress

feat(listbox): add animation
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/ToolboxList.tsx
  frontend/tailwind.config.js
Due: frontend:build, frontend:cypress

test(cypress): update existing tests
  frontend/cypress/integration/test.spec.js
Due: frontend:build, frontend:cypress

fix(database): add seeder re-exports for CLI usage
  backend/src/database/seeders/index.ts
Due: backend:build, backend:lint, backend:integration

chore: add db:seed npm script
  README.md
  backend/package.json
Due: backend:build, backend:lint, backend:integration

test: update patch tests to use seed data
  backend/src/routes/boards/boards.route.test.ts
Due: backend:build, backend:lint, backend:integration

fix(toolbox): change cursor to pinter on listings
  frontend/src/components/ToolboxList.tsx
Due: frontend:build, frontend:cypress

chore: remove commented out code
  backend/src/routes/boards/boards.types.ts
Due: backend:build, backend:lint, backend:integration

chore: use seeded board objects directly when testing
  backend/src/routes/boards/boards.route.test.ts
Due: backend:build, backend:lint, backend:integration

feat: remove pipeline braking animations
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/ToolboxList.tsx
  frontend/tailwind.config.js
Due: frontend:build, frontend:cypress

test(cypress): update test to reflect animation change
  frontend/cypress/integration/test.spec.js
Due: frontend:build, frontend:cypress

style: removing unnecessary json message response
  backend/src/controllers/board/board.controller.ts
  backend/src/routes/boards/boards.route.test.ts
Due: backend:build, backend:lint, backend:integration

merge: resolving merge conflicts
  backend/src/controllers/board/board.controller.ts
  backend/src/database/models/MechanicalEquipment.ts
  backend/src/database/models/PipeItem.ts
  backend/src/database/models/Pipeline.ts
  backend/src/database/models/RotatingEquipment.ts
Due: backend:build, backend:lint, backend:integration

chore: add react-dnd and react-dnd-html5-backend dependencies
  frontend/package-lock.json
  frontend/package.json
Due: frontend:build, frontend:cypress

fix: minor changes
  backend/src/database/models/MechanicalEquipment.ts
  backend/src/database/models/PipeItem.ts
  backend/src/database/models/Pipeline.ts
  backend/src/database/models/RotatingEquipment.ts
Due: backend:build, backend:lint, backend:integration

merge: staging
  backend/src/controllers/board/board.controller.ts
  backend/src/routes/boards/boards.route.ts
Due: backend:build, backend:lint, backend:integration

test(frontend): remove temporary cypress test
  frontend/cypress/integration/test.spec.js
Due: frontend:build, frontend:cypress

feat: add DnDProvider to Home component
  frontend/src/pages/Home.tsx
Due: frontend:build, frontend:cypress

feat: create Item and ItemsList components
  frontend/src/components/Item.tsx
  frontend/src/components/ItemsList.tsx
Due: frontend:build, frontend:cypress

feat: display items in the Toolbox sidebar, remove Lorem ipsum
  frontend/src/components/Toolbox.tsx
Due: frontend:build, frontend:cypress

feat: add dnd functionality to the Board component
  frontend/src/components/Board.tsx
Due: frontend:build, frontend:cypress

feat: apply review suggestions
  frontend/src/components/ToolboxItem.tsx
Due: frontend:build, frontend:cypress

merge: resolving conflicts
  backend/src/controllers/board/board.controller.ts
  backend/src/index.ts
  backend/src/routes/index.ts
Due: backend:build, backend:lint, backend:integration

style: initial Navbar styling
  frontend/src/assets/images/wb-logo.png
  frontend/src/components/Navbar.tsx
Due: frontend:build, frontend:cypress

style: add hover animation to toolbox list
  frontend/src/components/Toolbox.tsx
  frontend/src/components/ToolboxItem.tsx
  frontend/src/components/ToolboxList.tsx
Due: frontend:build, frontend:cypress

style(toolbox): add support for smaller screens
  frontend/src/components/Toolbox.tsx
  frontend/src/components/ToolboxList.tsx
  frontend/src/pages/Home.tsx
Due: frontend:build, frontend:cypress

feat: delete api functions
  backend/src/controllers/board/board.controller.ts
  frontend/src/apis/utiliti-functions.ts
  frontend/src/components/ApiTestComponent.tsx
  frontend/src/utils/apis.ts
Due: backend:build, backend:lint, backend:integration, frontend:build, frontend:cypress

feat: create BoardItem component
  frontend/src/components/BoardItem.tsx
Due: frontend:build, frontend:cypress

feat: add items list to the Board component
  frontend/src/components/Board.tsx
Due: frontend:build, frontend:cypress

feat: add dnd functionality to ToolboxItem component
  frontend/src/components/ToolboxItem.tsx
Due: frontend:build, frontend:cypress

refactor: remove Item and ItemsList components
  frontend/src/components/Item.tsx
  frontend/src/components/ItemsList.tsx
Due: frontend:build, frontend:cypress

refactor(board): check for undefined item
  frontend/src/components/Board.tsx
Due: frontend:build, frontend:cypress

chore(frontend): add framer-motion package
  frontend/package-lock.json
  frontend/package.json
Due: frontend:build, frontend:cypress

feat(board): add scrolling and dragging functionality
  frontend/src/components/Board.tsx
Due: frontend:build, frontend:cypress

feat: add DropPlaceholder component
  frontend/src/components/Board.tsx
  frontend/src/components/DropPlaceholder.tsx
Due: frontend:build, frontend:cypress

style: finalized Navbar styling + responsiveness
  frontend/src/components/Navbar.tsx
Due: frontend:build, frontend:cypress

chore(frontend): add immutability-helper dependency
  frontend/package-lock.json
  frontend/package.json
Due: frontend:build, frontend:cypress

feat(board): calculate item's position
  frontend/src/components/Board.tsx
Due: frontend:build, frontend:cypress

chore(frontend): add classnames package
  frontend/package-lock.json
  frontend/package.json
Due: frontend:build, frontend:cypress

feat(board): implement board tabs
  frontend/src/components/board/Board.tsx
  frontend/src/components/board/Tab.tsx
  frontend/src/components/board/TabBar.tsx
  frontend/src/pages/Home.tsx
  frontend/src/typings/Board.ts
Due: frontend:build, frontend:cypress

Path conditions:
  backend:build: any of: backend/**/*
  backend:lint: any of: backend/**/*
  backend:integration: any of: backend/**/*
  frontend:build: any of: frontend/**/*
  frontend:cypress: any of: frontend/**/*
