Repository Kwannnnn/Visual-Engineer: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend:build, backend:lint, backend:apidoc, backend:integration, frontend:cypress

backend:build:
  stage: build
  script:
  - cd backend
  - npm run build
  needs:
  - install
  cache:
  - key: $CI_COMMIT_REF_SLUG-backend
    paths:
    - $CI_PROJECT_DIR/backend/node_modules/
    policy: pull

backend:lint:
  stage: lint
  needs:
  - install
  script:
  - cd backend
  - npm run lint
  cache:
  - key: $CI_COMMIT_REF_SLUG-backend
    paths:
    - $CI_PROJECT_DIR/backend/node_modules/
    policy: pull

backend:apidoc:
  stage: build
  needs:
  - install
  script:
  - cd backend
  - npm run apidoc
  artifacts:
    paths:
    - backend/dist/docs/apidoc/
  cache:
  - key: $CI_COMMIT_REF_SLUG-backend
    paths:
    - $CI_PROJECT_DIR/backend/node_modules/
    policy: pull

backend:integration:
  stage: test
  image: docker/compose:1.29.2
  services:
  - docker:dind
  variables:
    DOCKER_HOST: tcp://docker:2375/
    DOCKER_DRIVER: overlay2
  script:
  - cd backend
  - docker-compose -f test.docker-compose.yml up --build --exit-code-from backend
  cache: []
  artifacts:
    when: always
    reports:
      junit:
  ...

frontend:cypress:
  image: cypress/browsers:node16.13.2-chrome97-ff96
  stage: test
  needs:
  - install
  cache:
  - key: $CI_COMMIT_REF_SLUG-frontend
    paths:
    - $CI_PROJECT_DIR/frontend/node_modules/
    policy: pull
  - key: $CI_COMMIT_REF_SLUG-backend
    paths:
    - $CI_PROJECT_DIR/backend/node_modules/
    policy: pull
  services:
  ...

style: hide target handle
  frontend/src/components/board/ItemNode.tsx
Due: frontend:cypress

test(cypress): update drag node test
  frontend/cypress/integration/Board.spec.js
Due: frontend:cypress

chore: remove commented out code
  frontend/cypress/support/test-utils.js
Due: frontend:cypress

fix(cypress): update drag node test
  frontend/cypress/integration/Board.spec.js
Due: frontend:cypress

fix: hide overflow for TabBar
  frontend/src/components/board/tabbar/TabBar.tsx
Due: frontend:cypress

feat: moving posting logic to Home
  frontend/src/components/PropertiesSidebar.tsx
  frontend/src/components/board/Board.tsx
  frontend/src/pages/Home.tsx
Due: frontend:cypress

fix: focus board tab if it is already open
  frontend/src/pages/Projects.tsx
Due: frontend:cypress

fix: don't change focus when closing tab other than the opened tab
  frontend/src/pages/Home.tsx
Due: frontend:cypress

test(frontend): click on a project before every test
  frontend/cypress/integration/Board.spec.js
  frontend/cypress/integration/PropertiesSidebar.spec.js
  frontend/cypress/integration/Toolbox.spec.js
  frontend/src/pages/Projects.tsx
Due: frontend:cypress

fix: tabs not behaving
  frontend/src/components/board/Board.tsx
Due: frontend:cypress

style: ignore eslint non-null assertion rule
  frontend/.eslintrc.json
Due: frontend:cypress

fix: cleanups
  frontend/src/components/PropertiesSidebar.tsx
  frontend/src/pages/Home.tsx
Due: frontend:cypress

fix: resolving comments from review
  backend/src/database/models/Item.ts
  backend/src/database/models/MechanicalEquipment.ts
  backend/src/database/models/PipeItem.ts
  backend/src/database/models/Pipeline.ts
  backend/src/database/models/RotatingEquipment.ts
  backend/src/database/seeders/ObjectSeeder.ts
  backend/src/middleware/relationships.middleware.ts
  backend/src/routes/objects/v1/objects.route.ts
  frontend/src/util/transformObjectToNode.ts
Due: backend:build, backend:lint, backend:apidoc, backend:integration, frontend:cypress

fix(bug): removed trailing space in the seeded blower ID
  backend/src/database/seeders/ObjectSeeder.ts
  frontend/src/components/board/Board.tsx
  frontend/src/pages/Home.tsx
Due: backend:build, backend:lint, backend:apidoc, backend:integration, frontend:cypress

fix: item positions get reset on drop
  frontend/src/pages/Home.tsx
Due: frontend:cypress

feat: error handling for creating new project
  frontend/src/App.tsx
Due: frontend:cypress

test: tests for Navbar create button
  frontend/cypress/integration/Board.spec.js
  frontend/cypress/integration/Navbar.spec.js
  frontend/src/App.tsx
  frontend/src/components/Navbar.tsx
  frontend/src/components/board/tabbar/Tab.tsx
Due: frontend:cypress

test: add boards-list cypress selector to a container in the Projects page
  frontend/src/pages/Projects.tsx
Due: frontend:cypress

test: add cypress selector to NavLink in Navbar
  frontend/src/components/Navbar.tsx
Due: frontend:cypress

test: add cypress selector to Tab component
  frontend/src/components/board/tabbar/Tab.tsx
Due: frontend:cypress

test: add cypress selector to TabBar component
  frontend/src/components/board/tabbar/TabBar.tsx
Due: frontend:cypress

fix(cypress): tests run with item id
  frontend/cypress/integration/Board.spec.js
  frontend/cypress/integration/PropertiesSidebar.spec.js
Due: frontend:cypress

test: add Project page tests
  frontend/cypress/integration/Projects.spec.js
Due: frontend:cypress

fix: separate seeded data cluster further apart
  backend/src/database/seeders/ObjectSeeder.ts
Due: backend:build, backend:lint, backend:apidoc, backend:integration

fix: clear local storage when App mounts
  frontend/src/App.tsx
Due: frontend:cypress

refactor(backend): add sequential validation Co-authored-by Philippos Slicher <philipposslicher@gmail.com>
  backend/src/middleware/validate.ts
Due: backend:build, backend:lint, backend:apidoc, backend:integration

refactor: enrich response instead of request, add Relationship validator Co-authored-by Philippos Slicher <philiposslicher@gmail.com>
  backend/src/middleware/relationships.validators.ts
Due: backend:build, backend:lint, backend:apidoc, backend:integration

feat: add relationship express validator to POST relationship endpoint
  backend/src/controllers/relationship/relationship.controller.ts
  backend/src/routes/relationships/relationships.route.ts
Due: backend:build, backend:lint, backend:apidoc, backend:integration

test: add RelationshipExists test
  backend/src/routes/relationships/relationships.route.test.ts
Due: backend:build, backend:lint, backend:apidoc, backend:integration

docs(api): update POST Relationship endpoint
  backend/src/routes/relationships/relationships.route.ts
Due: backend:build, backend:lint, backend:apidoc, backend:integration

test: refactor PATCH Relationship tests
  backend/src/routes/relationships/relationships.route.test.ts
Due: backend:build, backend:lint, backend:apidoc, backend:integration

refactor(relationship): get PATCH data from the response instead of the request
  backend/src/controllers/relationship/relationship.controller.ts
Due: backend:build, backend:lint, backend:apidoc, backend:integration

refactor(relationship): remove PATCH endpoint middleware, add express validators
  backend/src/routes/relationships/relationships.route.ts
Due: backend:build, backend:lint, backend:apidoc, backend:integration

feat(relationship): add PATCH validators
  backend/src/middleware/relationships.validators.ts
Due: backend:build, backend:lint, backend:apidoc, backend:integration

docs(api): update PATCH endpoint definitions
  backend/src/routes/relationships/relationships.route.ts
Due: backend:build, backend:lint, backend:apidoc, backend:integration

refactor: remove relationships middleware file
  backend/src/middleware/relationships.middleware.ts
Due: backend:build, backend:lint, backend:apidoc, backend:integration

feat: add boards express validators
  backend/src/middleware/boards.validators.ts
Due: backend:build, backend:lint, backend:apidoc, backend:integration

feat: add express validator to POST Board endpoint
  backend/src/routes/boards/boards.route.ts
Due: backend:build, backend:lint, backend:apidoc, backend:integration

refactor: remove error check Board controller
  backend/src/controllers/board/board.controller.ts
Due: backend:build, backend:lint, backend:apidoc, backend:integration

Path conditions:
  backend:build: any of: backend/**/*
  backend:lint: any of: backend/**/*
  backend:apidoc: any of: backend/**/*
  backend:integration: any of: backend/**/*
  frontend:cypress: any of: frontend/**/*
